<% body_vp = "vp data " %>
<% body_sso = "sso data " %>

<div class="dialog_form">
  <%= text_area_tag body_vp, :rows => 20, :cols => 70  %>
  <%= text_area_tag body_sso, :rows => 20, :cols => 70  %>
</div>


<iframe frameborder="0" style="width:100%;height:100%" src="https://demo015.service-now.com/">                                                                                                            
 <p>Your browser does not support iframes.</p>                                                                                                                                              
</iframe>
