<td>
  <span class="indicator indicator_{{status}}"></span>
  <span class="indicator_text indicator_text_{{status}}">{{status}}</span>
</td>
<td><a href="/devices/{{guid}}">{{host}}</a></td>
<td class="data_centered">{{incident}}</td>
<td class="data_centered">{{changes}}</td>
<td class="data_centered">{{mx_windows}}</td>
<td class="data_centered">{{avail}}%</td>