<div class="module_header">
	<span class="module_header_primary">Active Assets</span>
	<div class="form-group">
		<div>
			<label for="group_choices">Show:</label>
			<select name="group_choices" class="dark" disabled>
     			     <option value="">All Assets</option>
     			     <optgroup class="types" label="Asset Types"></optgroup>
     			     <optgroup class="groups" label="Groups"></optgroup>
  			</select>
  		</div>	
  	</div>
</div>
<div class="thead_original_container">
	<div class="thead_original_container_container">
	<table class="head">
		<thead>
			<tr>
			  <th class="text sort" data-sortby="status_number"><div class="label">Status</div><div class="arrows"></div></th>
			  <th class="text sort" data-sortby="host"><div class="label">Host</div><div class="arrows"></div></th>
			  <th class="text sort" data-sortby="incident"><div class="label">Incidents</div><div class="arrows"></div></th>
			  <th class="text sort" data-sortby="changes"><div class="label">Changes</div><div class="arrows"></div></th>
			  <th class="text sort" data-sortby="mx_windows"><div class="label">MX Windows</div><div class="arrows"></div></th>
			  <th class="text sort" data-sortby="avail"><div class="label">Avail. (7 Days)</div><div class="arrows"></div></th>
			</tr>
			<tr class="filter-row">
		        <th class="text"><div><input type="text" class="text_search_filter" name="status"/></div></th>
		        <th class="text"><div><input type="text" class="text_search_filter" name="host"/></div></th>
		        <th class="text"><div><input type="text" class="text_search_filter" name="incident"/></div></th>
		        <th class="multi"><div><input type="text" class="text_search_filter" name="changes"/></div></th>
		        <th class="multi"><div><input type="text" class="text_search_filter" name="mx_windows"/></div></th>
		        <th class="multi"><div><input type="text" class="text_search_filter" name="avail"/></div></th>
      		</tr>
		</thead>
	</table>
	</div>
</div>
<div class="module_body">
	<table id="assets" class="active_asset_table" cellspacing="0" width="100%">		
		<tbody>
			 
		</tbody>
	</table>
</div>