<div class="module_header">
	<span class="module_header_primary">Environment Health</span>
</div>
<div class="module_body">
	<div class="module_loading"><span class="module_loading_text">Loading</span></div>
	<div class="health_chart">
		<div class="canvas" id="health_chart_canvas"></div>
		<div class="overlay">
			<span class="title">Health Score</span>
			<span class="percentage"><span id="health_chart_percentage">--</span></span>
		</div>
	</div>
	<table class="environment_health_table">
		<thead>
			<tr>
				<th class="asset">
					<div class="health_select">
						<span class="health_choice">Asset Type</span>
						<div class="health_choices">
							<div class="environment_healths">Asset Type</div>
							<div class="groups_environment_health">Group</div>
						</div>
					</div>
				</th>
				<th class="health">Healthy</th>
			</tr>
		</thead>
		<tbody>
	
		</tbody>
	</table>
</div>
