<div class="module_header">
	<span class="module_header_primary">Events</span>
</div>
<div class="module_body">
	<div class="module_loading"><span class="module_loading_text">Loading</span></div>
	<div class="events_chart_header">
		<div class="chart_toggles">
			<div class="toggle">
				<input class="checkbox" type="checkbox" name="events_critical" value="1" id="events_critical" checked><label for="events_critical" class="toggle_label label_critical">Critical</label>
			</div>
			<div class="toggle">
				<input class="checkbox" type="checkbox" name="events_error" value="1" id="events_error" checked><label for="events_error" class="toggle_label label_error">Error</label>
			</div>
			<div class="toggle">
				<input class="checkbox" type="checkbox" name="events_warning" value="1" id="events_warning" checked><label for="events_warning" class="toggle_label label_warning">Warning</label>
			</div>
			<div class="toggle">
				<input class="checkbox" type="checkbox" name="events_info" value="1" id="events_info"><label for="events_info" class="toggle_label label_info">Info</label>
			</div>

		</div>
		<a href="#" class="chart_toggle" id="event_toggle"><span class="toggle left" data-mode="week">Week</span><span class="toggle right on" data-mode="month">Month</span></a>
	</div>
	<div class="clear"></div>
	<div class="events_chart_placeholder" id="events_chart_placeholder">No events selected. Choose an event type to view data.</div>
	<div class="events_chart" id="events_chart_container">
		<div class="canvas" id="events_chart_canvas"></div>
	</div>

</div>