<div id="env_dash">
	<div class="grid_col_1">
		<div class="module_container" id="env_dash_health"></div>
		<div class="module_container" id="env_dash_backups"></div>
	</div>
	
	<div class="grid_col_2">
		<div class="module_container module_margin_right" id="env_dash_events"></div>
		<div class="module_container" id="env_dash_ticketing"></div>
		<div class="module_container" id="env_dash_assets">
			<div class="assets_view_contatiner"></div>
		</div>
	</div>
</div>