<div class="module_header">
	<span class="module_header_primary">Ticketing</span>
	<span class="module_header_secondary"></span>
</div>
<div class="module_body">
	<table class="ticketing_table">
		<thead>
			<tr>
				<th class="type"></th>
				<th class="past">-30 days</th>
				<th class="active">Active</th>
				<th class="future">Future</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>

