<div id="admin_form">  
  <%= form_for @compliance, as: :compliance, url: "/sungard/compliance" do |f| %>
    <table>
       <% if @compliance.errors.any? %>
      <tr>
        <td colspan="100">
          <div class="error_messages">
            <div class="errors">
              <ul>
                <% for message in @compliance.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
        <% if flash[:notice] %>
            <div class="error_messages"><p><%= flash[:notice] %></p></div>
        <% end %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= f.label 'Name*' %>
            <%= f.text_field :name, placeholder: "Parent report name(product)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Group Name*' %>
            <%= f.text_field :group_name, placeholder: "Child report name(platform).The name must be same as HPNA device group name" %>
          </td>    
        </tr>
        <tr>
          <td>
            <%= f.label 'Version' %>
            <%= f.text_field :version, :value => "1.0.0" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit 'Create Compliance Group'%>
          </td>
        </tr>
    </table>
  <% end %>
</div>
