<div id="admin_form">
<%= form_for([:sungard, @company]) do |f| %>

  <% if @company.errors.any? %>
    <tr>
      <td colspan="100">
        <div class="error_messages">
          <div class="errors">
            <ul>
              <% for message in @company.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% else %>
    <% if flash[:notice] %>
        <div class="error_messages"><p><%= flash[:notice] %></p></div>
    <% end %>
      </td>
    </tr>
  <% end %>

  <table>
    <tr>
      <td>
        <%= f.label :snt %>
        <%= f.text_field :snt %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= f.label :guid %>
        <%= f.text_field :guid %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.submit %>
      </td>
    </tr>
  </table>
<% end %>
</div>