<% content_for :tools_name, "Company Management" %>
<%= render "sungard/shared/tools" %>
<% if @company_name %>
  <h2>companies: <%= @company_name %></h2>
<% else %>
	<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<% end %>  
<a class="button" onclick="window.history.back()">back</a>