<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Snt:</b>
  <%= @company.snt %>
</p>

<p>
  <b>Guid:</b>
  <%= @company.guid %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Active:</b>
  <%= @company.active %>
</p>

<%= link_to 'Edit', edit_sungard_company_path(@company) %> |
<%= link_to 'Back', sungard_companies_path %>