<div id="doc">

<h1><%=t 'global_org.name_legal'%> Commitment to Privacy</h1>

<p><%=t 'global_org.name_legal'%>
(“<%=t 'global_org.name_short'%>”) is committed to maintaining your confidence and trust, and
accordingly maintains the following Privacy Policy to protect the personal
information you provide online. To make this notice easy to find, we make it
available on our homepage and at every point that personally identifiable
information may be requested. Questions regarding this policy should be
directed to our “Contact Us” page or please call us at 1- 800-468-7483.</p>

<h2>Collection and Use of Information</h2>

<p><%=t 'global_org.name'%> will only collect your
personal information (such as your name, address, or telephone number) if you
provide it voluntarily. If you do not want this information to be collected by
us, please do not submit it. <%=t 'global_org.name'%> will not retain your personal information
longer than is necessary for the purpose for which it is collected.</p>

<p>We also utilize reputable list services companies that collect similar personal 
information with the consent of the individual. The policies and procedures 
we describe here do not apply to these companies. You should check the privacy 
policies of these companies to see how your personal information will be utilized by the
companies prior to disclosing it. </p>

<p>In addition, in the course of using our site we automatically track certain information about you. This
information includes the URL that you just came from (whether this URL is on
our site or not), which URL you go to next (whether this URL is on our site or
not), what browser you are using, your IP address, the number of times you
visited <%=t 'global_org.name_possessive'%> website, which pages you visited and what materials, if any,
you downloaded. Many sites automatically collect this information.
</p>

<p>We also employ the use of cookies to assist us in this process. A cookie is a small 
piece of computer code that enables web servers to identify users. Cookies do 
not store any information that you have provided to our site. They are simply 
identifiers. You have the ability to delete cookie files from your hard drive 
at any time or avoid cookies by configuring your browser to reject them or to 
notify you when a cookie is being placed on your hard drive.</p>

<p>We only use the information which is provided
through our site to help us improve our services to you, to provide you with the
products you have requested, to inform you about additional products or
services that may be of interest to you, for marketing purposes and for other
internal purposes. <%=t 'global_org.name'%> occasionally hires other companies to provide
limited services on our behalf, including packaging, mailing and delivering
purchases, answering customer questions about products or services, sending
mail and processing event registration. <%=t 'global_org.name'%> will only provide these
companies with the information they need to deliver the service, and they are
prohibited from using that information for any other purpose. <%=t 'global_org.name'%> may also
provide the information which is provided through our site to third-party
business partners in delivering webinars on topics relevant to <%=t 'global_org.nam_possessive'%>
services. Other than what is described, <%=t 'global_org.name'%> does not sell trade or rent your personal information to
others outside of <%=t 'global_org.name'%> companies and their advertising and promotional
agencies and consultants. If at any time you do not wish to receive this
information or you want <%=t 'global_org.name'%> to remove your information from our files,
please contact <%=t 'global_org.name'%> at 1-800-468-7483 or by sending an email to <a><%=t 'global_org.email_unsubscribe' %></a>.</p>

<p>At any time, while accessing our site, any user, while online, may decline participation in any activity that
asks for information (i.e. survey email, or ecommerce). Your choice not to participate will in no
way affect your ability to use any other feature on our site.</p>

<h2>Security</h2>

<p><%=t 'global_org.name'%> has implemented a number of security features throughout 
the <%=t 'global_org.name'%> site to prevent the unauthorized release of or access to personal 
information. For example, database information is kept separate from live servers and is 
firewall protected. Please be advised, however, that although <%=t 'global_org.name'%> has 
endeavored to create a secure and reliable site for you, the confidentiality of any communication or material
transmitted to or from Sungard Availability Services via the <%=t 'global_org.name'%> site or e-mail cannot be
guaranteed. When disclosing any personal information, you should remain mindful
of the fact that it is potentially accessible to the public, and consequently,
can be collected and used by others without your consent. <%=t 'global_org.name'%> has no
responsibility or liability for the security of information transmitted via the
Internet.</p>

<h2>External Web Sites</h2>

<p>As a convenience to our visitors, <%=t 'global_org.name_possessive'%> Website may contains 
links to a number of sites owned and operated by third parties that we believe may offer 
useful information. The policies and procedures we describe here do not apply to those sites. You should check the
privacy policies of these individual sites to see how your personal information
will be utilized by the operators of those third party web sites.</p>

<h2>Your Consent</h2>

<p>By using our Web site, you consent to the collection and use of this information 
by <%=t 'global_org.name'%>. <%=t 'global_org.name'%> may modify this Privacy Policy from 
time to time. If we decide to change our Privacy Policy, we will post those changes on this page. 
Your continued use of this site following the posting of changes to these terms will mean you accept
these changes. You may have the right to access the personal information which
<%=t 'global_org.name'%> has collected about you. You may also have the right to modify any
errors contained in that information. Please contact us at our “Contact Us”
page or call us at 1- 800-468-7483 for more details.</p>

<h2>U.S.-EU &amp; U.S.-Swiss Safe Harbor Certification Note</h2>

<p>Please see <%=t 'global_org.name_possessive'%> Safe Harbor Privacy Policy which
explains in more detail <%=t 'global_org.name_possessive'%> certification and how <%=t 'global_org.name'%> adheres to the
Safe Harbor Privacy Principles of notice, choice, onward transfer, security,
data integrity, access, and enforcement with respect to its collection, use,
and retention of personal information from European Union member countries and
Switzerland. To learn more about the Safe Harbor program, and to view <%=t 'global_org.name'%>’s
certification, please visit <a href="http://www.export.gov/safeharbor/" target="_blank">http://www.export.gov/safeharbor/</a>.</p>

<h2>How to Contact Us</h2>

<p>Should you have other questions or concerns about
this Privacy Policy, please call us on 1-800-468-7483 or use our <a href="https://staging.viewpoint.availability.sungard.com/privacy">Contact Us</a> page.</p>

<p>Amended November 27, 2011</p>

</div>
