<div id="doc">

<h1>Safe Harbor Privacy Policy</h1>

<p>Protecting Personal Information and respecting an individual’s data privacy
rights is important to Sungard Availability Services LP and its subsidiaries.
Accordingly Sungard Availability Services LP (“Sungard AS”) adheres to the Safe
Harbor Principles published by the U.S. Department of Commerce (the
“Principles”) with respect to the Personal Information (as defined below)
<%=t 'global_org.name'%> may receive from the <a target="_blank" href="#footnote1">EEA[1]</a> or Switzerland and uses
for and in the provision of its Services (as defined below). This Safe Harbor Privacy Policy
(“Policy”) outlines our general policy and practices for implementing the
Principles, including the types of Personal Information we collect, how we use
it and the notice and choice provided to affected individuals regarding our use
of and their ability to correct that Information. </p>

<p>For more information about the Safe Harbor Principles or to access
<%=t 'global_org.name_possessive'%> certification statement, please visit the US Department of Commerce’s
website at: <a>http://www.export.gov/safeharbor/</a>. </p>

<h2>Definitions</h2>

<p><i>“Personal Information”</i> means any information that (i) is transferred from the
EEA or Switzerland to the United States (ii) is recorded in any form (iii)
relates to an individual and (iv) identifies or can be
used to identify the individual. </p>

<p><i>“Sensitive Personal Information”</i> means Personal Information that relates to race, ethnic
origin, sexual orientation, political opinions, religious or philosophical
beliefs, trade union membership, criminal offenses or that concerns an
individual’s health.</p>

<h3>What Personal Information <%=t 'global_org.name'%> Collects</h3>

<p><%=t 'global_org.name'%> may collect Personal Information in the limited
circumstances mentioned below: </p>

<p><%=t 'global_org.name'%> purchasing services such as Recovery Services,
Managed Services and Business Continuity Software Solutions and Consulting
Services (“Services”) may transmit Personal Information to <%=t 'global_org.name'%> that <%=t 'global_org.name'%>
may use to provide such Services and support related to such Services. The
Personal Information <%=t 'global_org.name'%> collects includes the name, business and mobile
telephone numbers and business email address of a customer’s employees, and
potentially its vendors, agents and/or end-users. </p>

<p>This Personal Information will be stored within the
Customer interface service management software used in connection with the
<%=t 'global_org.name'%>' Customer Service Portals.
</p>

<p>In addition, to the extent <%=t 'global_org.name'%> uses its own <%=t 'global_org.name_possessive'%> Business Continuity Management Software
Solutions for business continuity planning and related notification purposes,
some of the personal data <%=t 'global_org.name'%> collects will relate to its own employees. <%=t 'global_org.name'%> may upload this information into its Business Continuity Management
Software Solutions hosted within <%=t 'global_org.name_possessive'%> technology infrastructure. The Personal Information Sungard Availability Services collects from its employees
includes name, business and mobile telephone numbers and business email
address.</p>

<p>The collection of Personal
Information as described above is covered by <%=t 'global_org.name_possessive'%> Safe Harbor
certification statement.</p>

<p>In providing Services or support related to the Services, Sungard Availability Services may process
Personal Information owned and/or controlled by Customers. <%=t 'global_org.name'%> will process this Personal Information on
behalf of its Customers consistent with the Customer’s instructions and the
applicable Safe Harbor Principles.</p>

<h2><%=t 'global_org.name'%>’s compliance with the 7 Safe Harbor Principles</h2>

<h3>Notice</h3>

<p>When <%=t 'global_org.name'%> collects Personal Information from
individuals, it will give timely and appropriate notice to such individuals
describing what Personal Information it is collecting, how it will use it, and
the type of third-parties with whom Sungard Availability Services may share
it. <%=t 'global_org.name'%> will also provide
information on how individuals whose Personal Information is collected can
contact <%=t 'global_org.name'%> with any questions or complaints. </p>

<p>For <%=t 'global_org.name_possessive'%> Software Solutions customers, this
information is found within <%=t 'global_org.name'%>’s help-desk support application. For <%=t 'global_org.name_possessive'%> Managed and Recovery
Services customers, this information is found in the Customer Services
Portals. To the extent individuals
have access to these applications, they can edit, change or delete Personal
Information within these applications at any time. </p>

<p>To the extent <%=t 'global_org.name'%> collects Personal
Information of its employees when it uses its own Services, direct notification
will occur through internal communication processes at the time of collection.</p>

<h3>Choice</h3>

<p><%=t 'global_org.name'%> shall not use Personal
Information for any purpose incompatible with the original purpose for which it
was collected. When feasible and appropriate, <%=t 'global_org.name'%> will offer individuals an
opportunity to choose (opt out) before their Personal Information will be
disclosed to a third party or used for a purpose other than for which it was
originally collected or subsequently authorized by the individual. <%=t 'global_org.name'%> does not collect Sensitive
Personal Information from its customers.</p>

<p>For <%=t 'global_org.name'%>’s Software Solutions, this choice
will be given within the help desk support application. For <%=t 'global_org.name'%>’s Managed and Recovery
Services customers, this choice is given in the
Managed and Recovery Services Customer Portals.</p>

<p>To the extent <%=t 'global_org.name'%> collects Personal Information
from its employees, agents and/or vendors when it uses its own Services, this
choice will be given to the <%=t 'global_org.name'%> employee through internal communication
processes.</p>

<h3>Onward Transfers</h3>

<p><%=t 'global_org.name'%> is a global organization and we may transfer
the Personal Information we collect within <%=t 'global_org.name_possessive'%> global operations in order
to implement and deliver the Services and to provide support related to these
Services.</p>

<p><%=t 'global_org.name'%> may also transfer the Personal
Information we collect with third parties we engage to process Personal
Information on our behalf, such as IT service delivery partners, IT Outsourcers
and Channel Partners.</p>

<p>Prior to disclosing Personal
Information to a third party, <%=t 'global_org.name'%> shall obtain reasonable assurances from
the third party that it will safeguard the Personal Information consistent with
the applicable Principles and this Policy.
When <%=t 'global_org.name'%> has knowledge that a third party is processing Personal
Information covered by this Policy in a way that is contrary to the provisions
set forth herein, it will take reasonable steps to prevent or stop such processing .</p>

<p>Please be advised that we may share Personal
Information pursuant to applicable law or as necessary to defend the legal
rights of <%=t 'global_org.name'%>, business partners or others when there are reasonable
grounds to believe that such rights could be affected.</p>

<h3>Data Security</h3>

<p><%=t 'global_org.name'%> maintains reasonable physical, electronic
and managerial procedures to safeguard and secure the Personal Information from
loss, misuse, unauthorized access or disclosure, alteration or
destruction. </p>

<h3>Data Integrity</h3>

<p>To the extent <%=t 'global_org.name'%> collects Personal
Information as set forth herein, it shall take reasonable measures to ensure the accuracy of
the Personal Information transmitted to <%=t 'global_org.name'%>. <%=t 'global_org.name'%> shall also take
reasonable measures to ensure that the Personal Information is reliable,
current and complete for the intended use for which it was collected. </p>

<h3>Access</h3>

<p><%=t 'global_org.name'%> provides reasonable access to an
individual’s Personal Information to correct, amend or delete its Personal
Information. For <%=t 'global_org.name_possessive'%> Software Solutions customers, access to Personal
information is provided within the Help Desk Support Application. For <%=t 'global_org.name_possessive'%> Managed and Recovery
Services customers, such access is provided within the Customer Services
Portals. Individuals can change or delete Personal Information through this
Application or these Portals at any time. Individuals
can also direct inquiries about Personal Information supplied by contacting the Service Desk at
1-800-441-1181.</p>

<h3>Enforcement</h3>

<p><%=t 'global_org.name'%> uses a self-assessment approach to ensure
compliance with this Policy and periodically verifies that the Policy is
accurate and in conformity with the Safe Harbor Principles. <%=t 'global_org.name'%> encourages interested persons to
raise any concerns or complaints using the contact information provided below.
<%=t 'global_org.name'%> will investigate and attempt to resolve any concerns about this Policy
and/or <%=t 'global_org.name_possessive'%> use of Personal Information as described herein. </p>

<p>If a complaint or dispute cannot be resolved
through our internal processes, Sungard Availability Services agrees to cooperate with the Data
Protection Authorities (DPAs) of the EEA countries or Switzerland in the
investigation and resolution of complaints. </p>

<p>Inquiries or complaints about <%=t 'global_org.name_possessive'%> use of
Personal Information should be directed to:</p>

<%=t 'global_org.name'%></br>
Attn: Legal Department</br>
680 East Swedesford Road</br>
Wayne, PA 19087</br>

<p>or </p>

<p>By
contacting <%=t 'global_org.name'%> at 1-800-468-7483 or <a target="_blank" href="mailto:InformationSecurity-AS@sungard.com">InformationSecurity-AS@sungard.com</a>
to report a complaint. </p>

<hr>

<p>*This Privacy Policy may be amended from time to time consistent with the
requirements of the Safe Harbor. We
will post any revised Policy on <%=t 'global_org.name_possesive'%> website.</p>


<p><a name="footnote1">[1]</a> EEA stands for European
Economic Area. Created in 1994, the EEA combines the countries of the European
Union and member countries of EFTA (European Trade Association). Countries that
belong to the EEA are: <a target="_blank" href="http://goeurope.about.com">Austria</a>, Belgium, <a target="_blank" href="http://goeasteurope.about.com">Bulgaria</a>, <a target="_blank" href="http://goeasteurope.about.com">Czech
Republic</a>,
Cyprus, <a target="_blank" href="http://goscandinavia.about.com">Denmark</a>, <a target="_blank" href="http://goeasteurope.about.com">Estonia</a>, <a target="_blank" href="http://goscandinavia.about.com">Finland</a>, <a target="_blank" href="http://gofrance.about.com">France</a>, <a target="_blank" href="http://gogermany.about.com">Germany</a>, <a target="_blank" href="http://gogreece.about.com">Greece</a>, <a target="_blank" href="http://goeasteurope.about.com">Hungary</a>, <a target="_blank" href="http://goscandinavia.about.com">Iceland</a>, <a target="_blank" href="http://goireland.about.com">Ireland</a>, <a target="_blank" href="http://goitaly.about.com">Italy</a>, <a target="_blank" href="http://goeasteurope.about.com">Latvia</a>, Liechtenstein, <a target="_blank" href="http://goeasteurope.about.com">Lithuania</a>, Luxembourg, Malta, <a target="_blank" href="http://goamsterdam.about.com">Netherlands</a>, <a target="_blank" href="http://goscandinavia.about.com">Norway</a>, <a target="_blank" href="http://goeasteurope.about.com">Poland</a>, Portugal, <a target="_blank" href="http://goeasteurope.about.com">Romania</a>, <a target="_blank" href="http://goeasteurope.about.com">Slovakia</a>, <a target="_blank" href="http://goeasteurope.about.com">Slovenia</a>, <a target="_blank" href="http://gospain.about.com">Spain</a>, <a target="_blank" href="http://goscandinavia.about.com">Sweden</a>, <a target="_blank" href="http://gouk.about.com">United
Kingdom</a>. </p>
</div>
