<div id="doc">

<h1>Services Data Policy</h1>

<h2>Services Data Processed by <%=t 'global_org.name'%></h2>

<p>In the course of delivering services, <%=t 'global_org.name'%> LP and its affiliates and subsidiaries (“Sungard
AS”) may process data on behalf of its customers which may include personal data collected by its customers (“Services
Data”)<sup>1</sup>.</p>

<p><%=t 'global_org.name_short'%> processes Services Data to accomplish the business purposes of the customer for whom the services are
provided. However, <%=t 'global_org.name_short'%> does not control a customer’s data collection and to the extent the Services Data includes
personal information, <%=t 'global_org.name_short'%> will not have a direct relationship with the subject of that personal information. If a
customer provides any Services Data to <%=t 'global_org.name_short'%>, it is the responsibility of the customer to provide any notices
and/or obtain the necessary consents in order for <%=t 'global_org.name_short'%> to process Services Data in accordance with the Contract
(as defined below).  <%=t 'global_org.name_short'%> processes Services Data exclusively pursuant to the Contract and authorization of its
customer. At the conclusion of the Contract, the customer will be required to retrieve the Services Data. </p>

<h2>Standards Applicable to the Processing of Services Data</h2>

<p>The following standards shall apply to all Services Data:</p>

<ul>
  <li><b>Written Contract.</b> Services Data shall not be processed by   <%=t 'global_org.name_short'%> unless and until a written contract
    has been signed by <%=t 'global_org.name_short'%> and   the customer (“Contract”), describing the Services Data and the authorization of
    the customer to allow <%=t 'global_org.name_short'%> to perform Service Data processing.</li>

  <li><b>Data   Transfers.</b> <%=t 'global_org.name_short'%> may transfer the Services Data to third parties as   required for the implementation
    and delivery of its services, except as   otherwise provided by the Contract or known to be a violation of applicable
    law;   provided those third parties commit to reasonably protect the Services Data   against unauthorized use or
    disclosure and not to process the Services Data for   any purposes not authorized by <%=t 'global_org.name_short'%>. </li>

  <li><b>Cross Border Data Flows.</b> Except as otherwise provided by the Contract or known   to be a violation of applicable
    law, <%=t 'global_org.name_short'%> may transfer Services Data   across any political or geographic border, as required by <%=t 'global_org.name_short'%> for
    delivery of the services described in the Contract.</li>

  <li><b>Limitations on Purpose.</b> Services Data may not be processed   by <%=t 'global_org.name_short'%> for any purpose other than the delivery
    of the services to be   provided under the Contract or another purpose authorized or instructed by the   customer who
    provided the Services Data to <%=t 'global_org.name_short'%>.</li>

  <li><b>Compliance with Instructions.</b> <%=t 'global_org.name_short'%> shall comply in all   material respects with the terms of the Contract,
    and shall follow all lawful   and reasonable instructions of the customer in relation to the processing of   Services
    Data within the scope of the Contract. </li>

  <li><b>Accidental or Unauthorized Access or Loss.</b> <%=t 'global_org.name_short'%> has in   place appropriate physical, administrative and
    technical measures designed to   prevent accidental, unauthorized access or loss to Services Data. These   measures
    include annual training of its personnel on data security and privacy   topics.</li>
</ul>

<h2>US Government Access to Services Data</h2>

<p>Most governments of advanced economies have the authority to require a service provider to disclose customer Services
Data in certain situations.  However, few laws of foreign countries provide the kind of judicial oversight of government
investigations found in the United States. Unlike other countries, U.S. law specifically prohibits the voluntary
disclosure of data to the government without a formal legal request (i.e. a subpoena), except in certain limited
circumstances (such as in the event of an emergency involving death or serious bodily injury requiring disclosure or
when disclosure may impact an ongoing investigation).</p>

<p>Therefore, except in the very limited situations cited above, <%=t 'global_org.name_short'%> will only respond to U.S. Government
requests for access to a customer’s Services Data through a formal legal process and only after it notifies the customer
of the request in advance and the customer has agreed on the disclosure process. </p>

<h2>A Note about the Patriot Act <sup>2</sup></h2>

<p>The Patriot Act authorizes the U.S. Government to issue National Security Letters (“NSLs”) to request information
from service providers that is relevant to an investigation to protect against international terrorism. The NSL
typically prohibits the service provider from providing advance notice to a customer. However, the NSL requests are
limited to disclosure of non-content data such as subscriber information associated with particular IP addresses or
telephone numbers held by telecom companies and ISPs. The U.S. Government cannot use an NSL to compel disclosure of
customer content or Services Data.</p>

<p>For more information about this Policy, please contact the <a href="mailto:AskASCompliance@sungard.com">
<%=t 'global_org.name'%> Compliance Office</a>.</p>

<p>Initial release: June 2013</p>

<p>Revised February 2014</p>

<hr />

<p>[1] Please see the Safe Harbor Privacy Policy of <%=t 'global_org.name_short'%> which explains in more detail how <%=t 'global_org.name_short'%> adheres to
the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement
with respect to its collection, use, and retention of personal information from European Union member countries and
Switzerland. To learn more about the Safe Harbor program, and to view the certification of <%=t 'global_org.name_short'%>, please
visit <a href="http://www.export.gov/safeharbor/">http://www.export.gov/safeharbor/</a>.</p>

<p>[2] The USA Patriot Act stands for United and Strengthening of America by Providing Appropriate Tools Required to
Intercept and Obstruct Terrorism Act. The Act was signed into law by President Bush on Oct. 26, 2001, 45 days after the
Sept. 11 terrorist attacks.</p>

</div>
