
<!-- bbq/app/r2c-sr/templates/about_popover.html -->
<div class="row">
    <div class="pull-left">
        <!-- <span class="sgicon-r2c-sr pageview-icons avs-color-dark-blue"></span> -->
        <span class="morePaddingLeft positionDown">R2C
            <strong> Server Replication </strong>Info
        </span>
    </div>
    <div class="pull-right">
        <!-- <button class="btn btn-xs hidden" href="assets/images/R2C_SR_About_Sheet.pdf" title="PDF version of R2C SR Info" onclick="window.open(this.href, '_blank'); return false;"><span class="sgicon-doc-download-pdf pageview-icons "></span></button> -->
        <button data-toggle="hide" data-method="popover" data-target="#aboutBtn" class="btn btn-xs morePaddingRight" type="button">
            <span class="sgicon-close-cancel pageview-icons font115 avs-color-mid-gray positionDown-slight"></span>
        </button>
    </div>
</div>
<div class="row">
    <!-- Interaction section -->
    <div class="about-popover-module">
        <!-- SECTION HEADER -->
        <div class="about-section-header">
            <span>Interaction</span>
        </div>
        <!-- SECTION HEADER -->
        <!-- tool selection  -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-action-menu avs-color-dark-teal"></span>
            </span>
          to select another tool.
        </div>
        <!-- tool selection -->
        <!-- logo -->
        <div class="about-section-item about-section-bottom-line">
            <span class="pull-left positionDown-more">
            Press
          </span>
            <img width="100" height="40" class="pull-left" src="assets/images/dockbar_sungard_logo_new.svg">
            <span class="clearfix positionDown-more"> to return to the Home page. </span>
        </div>
        <!-- logo -->
        <!-- user menu -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-user"></span>
                <span class="pageview-icons sgicon-arrow-down avs-color-light-red"></span>
            </span>
          to access
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-user-profile"></span>
            </span>
          (user profile),
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-contact"></span>
            </span>
          (contacts) and LOGOUT.
        </div>
        <!-- user menu -->
        <!-- info menu -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-information" title="Information Drawer: Tutorials/Page Information"></span>
                <span class="pageview-icons sgicon-arrow-down avs-color-light-red"></span>
            </span>
          to access
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-information" title="Page Information"></span>
            </span>
          (page information) and
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-tutorial" title="Tutorials Drawer for Help Videos"></span>
            </span>
          (video tutorials).
        </div>
        <!-- info menu -->
        <!-- ticketing -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span title="Service Now" class="pageview-icons sgicon-ticketing"></span>
            </span>
          to view or create service requests.
        </div>
        <!-- ticketing -->
        <!-- actions -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-doc" title="Reports Drawer"></span>
                <span class="pageview-icons sgicon-arrow-down avs-color-light-red hidden"></span>
            </span> 
          to access downloads –
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-doc-download-pdf" title="Download a PDF file"></span>
                <span class="pageview-icons sgicon-arrow-down"></span>
            </span> 
          (a 30 day summary or daily comprehensive PDF report) and
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-doc-download-csv" title="Download a CSV file"></span>
                <span class="pageview-icons sgicon-arrow-down"></span>
            </span> 
          (the current-day CSV report of servers and volumes).
        </div>
        <!-- actions -->
        <!-- filtering -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-filter" title="Filter Drawer"></span>
                <span class="pageview-icons sgicon-arrow-down avs-color-light-red"></span>
            </span>
          to search by asset,
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-filter" title="More Filter Options"></span>
            </span>
          (filter options), and CLEAR filter.
        </div>
        <!-- filtering -->
        <!-- disabled -->
        <div class="about-section-item about-section-bottom-line">
          If an icon is grayed out (
          
            <span class="positionDown-slight">
                <span title="Disabled Item" class="pageview-icons sgicon-ticketing avs-color-cool-gray"></span>
            </span>
           ) then action is disabled.
        </div>
        <!-- disabled -->
        <!-- pill summary -->
        <div class="about-section-item about-section-bottom-line">
            <img width="120" height="20" src="assets/images/graphic-pill-summary-group.svg" class="moreMarginTop">
            <div>
          	Press a color block to view assets for that group. Press an asset to highlight it across the page. Press 
          	
                <span class="positionDown-slight">
                    <span class="pageview-icons sgicon-arrow-down avs-color-light-red"></span>
                </span>
          	for details.
            </div>
        </div>
        <!-- pill summary -->
        <!-- persisted asset -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-persist pageview-icons font75"></span>
          An asset selected across all views.
        </div>
        <!-- persisted asset -->
        <!-- tooltips -->
        <div class="about-section-item about-section-bottom-line">
            <span class="positionUp-slight"> Hover over any object on the page for </span>
            <img width="50" height="20" src="assets/images/graphic-tooltip.svg" class="positionDown">
        
        </div>
        <!-- tooltips -->
        <!-- historical data -->
        <div class="about-section-item about-section-bottom-line">
            <img width="350" height="50" src="assets/images/graphic-historical-data.svg" class="moreMarginTop">
            <div>Press a day to view data for that day.</div>
        </div>
        <!-- historical data -->
        <!-- sliders -->
        <div class="about-section-item about-section-bottom-line">
            <div>Use 
          
                <img width="18%" height="18%" src="assets/images/graphic-slider.svg" class="positionDown">
           (slider bar), if available, to scroll data.
            </div>
        </div>
        <!-- sliders -->
        <!-- change display views -->
        <div class="about-section-item about-section-bottom-line">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-view-next"></span>
            </span>
          /
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-view-previous"></span>
            </span>
          to toggle between chart view and table-list view.
        </div>
        <!-- change display views -->
        <!-- details -->
        <div class="about-section-item">
          Press
          
            <span class="positionDown-slight">
                <span class="pageview-icons sgicon-folder-open"></span>
            </span>
          (folder) to view more content.
        </div>
        <!-- details -->
        
    </div>
    <!-- Interaction section -->
    <!-- Shapes & Colors section -->
    <div class="about-popover-module">
        <!-- SECTION HEADER -->
        <div class="about-section-header">
            <span>Shapes & Colors</span>
        </div>
        <!-- SECTION HEADER -->
        <!-- asset description SERVERS -->
        <div class="about-section-item">
            <div class="slightMarginBottom">
                <span class="positionDown-slight">
                    <strong>x86 and AIX Servers — </strong>
                </span>
                <div class="positionDown-slight pull-right font75">
                    <span class="sgicon-color-server-healthy pageview-icons"></span>
                    <span class="sgicon-color-server-weak pageview-icons slightPaddingLeftRight"></span>
                    <span class="sgicon-color-server-poor pageview-icons"></span>
                    <span class="sgicon-color-server-initialsync pageview-icons slightPaddingLeftRight"></span>
                    <span class="sgicon-color-server-bandwidth-out pageview-icons"></span>
                    <span class="sgicon-color-server-bandwidth-in pageview-icons slightPaddingLeft"></span>
                </div>
            </div>
            <div class="pull-left">
                <ul>
                    <li>
                        <div class="slightPaddingLeft">• In the Health chart, are displayed as colored squares. </div>
                        <div class="morePaddingLeft">The colors and sizes specify RPO ranges as depicted below.</div>
                    </li>
                    <li>
                        <div class="slightPaddingLeft">• In the RPO chart, are displayed as colored bars, extending </div>
                        <div class="morePaddingLeft">below or above threshold, depicting margin of safety or data at</div>
                        <div class="morePaddingLeft">risk, respectively.</div>
                    </li>
                    <li>
                        <div class="slightPaddingLeft">• In the Bandwidth chart, are displayed as colored bars, dark </div>
                        <div class="morePaddingLeft">blue or light blue, as depicted below:</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- asset description SERVERS -->
        <!-- asset sizes -->
        <div class="about-section-item">
            <img width="355" height="auto" src="assets/images/graphic-sr-squares-noTXT.svg">
            <div class="about-r2c-rpo-minutes-txt pull-right">
                <div> 60 
                    <span class="font80">Min.</span>
                </div>
                <div> 30 
                    <span class="font80">Min.</span>
                </div>
                <div> 20 
                    <span class="font80">Min.</span>
                </div>
                <div> 20 
                    <span class="font80">Min.</span>
                </div>
            </div>
        </div>
        <!-- asset sizes -->
        <!-- asset color healthy -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-healthy pageview-icons font75"></span>
            <span class="colorHealthy">
                <strong>Green</strong>
            </span> – Healthy RPO between 0 min. and 20 min.
        </div>
        <!-- asset color healthy -->
        <!-- asset color weak -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-weak pageview-icons font75"></span>
            <span class="colorWeak">
                <strong>Yellow</strong>
            </span> – Weak RPO between 20 min. and 30 min.
        </div>
        <!-- asset color weak -->
        <!-- asset color poor -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-poor pageview-icons font75"></span>
            <span class="colorPoor">
                <strong>Orange</strong>
            </span> – Poor RPO at 30 min. threshold or beyond.
        </div>
        <!-- asset color poor -->
        <!-- asset color initialsync -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-initialsync pageview-icons font75"></span>
            <span class="colorException">
                <strong>Blue</strong>
            </span> – Exception (e.g., Initial Sync, Re-sync, Testing, or Unresponsive) status. RPO varies.
        </div>
        <!-- asset color initialsync -->
        <!-- asset color bandwidth out -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-bandwidth-out pageview-icons font75"></span>
          Bandwidth
            <span class="colorBandwidth-Out">
                <strong>Out</strong>
            </span> – Bits traveling to the Cloud.
        </div>
        <!-- asset color bandwidth out -->
        <!-- asset color bandwidth in -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-server-bandwidth-in pageview-icons font75"></span>
          Bandwidth
            <span class="colorBandwidth-In">
                <strong>In</strong>
            </span> – Bits traveling to the Protected Site.
        </div>
        <!-- asset color bandwidth in -->
        <!-- asset description VOLUMES -->
        <div class="about-section-item">
            <div class="slightMarginBottom">
                <span class="positionDown-slight">
                    <strong>Volumes — </strong>
                </span>
                <div class="positionDown-slight pull-right font75">
                    <span class="sgicon-color-volume-healthy pageview-icons"></span>
                    <span class="sgicon-color-volume-weak pageview-icons slightPaddingLeftRight"></span>
                    <span class="sgicon-color-volume-poor pageview-icons"></span>
                    <span class="sgicon-color-volume-initialsync pageview-icons slightPaddingLeft"></span>
                </div>
            </div>
            <div class="pull-left">
                <ul>
                    <li>
                        <div class="slightPaddingLeft">• In the Health chart, are displayed as colored circles. </div>
                        <div class="morePaddingLeft">The color indicates RPO health while circle size</div>
                        <div class="morePaddingLeft">remains constant.</div>
                    </li>
                    <li>
                        <div class="slightPaddingLeft">• In the Storage chart, are displayed as circles of different sizes. </div>
                        <div class="morePaddingLeft">The size indicates storage used and the color is the RPO health</div>
                        <div class="morePaddingLeft">as depicted below:</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- asset description VOLUMES -->
        <!-- asset sizes -->
        <div class="about-section-item">
            <img width="330" height="auto" src="assets/images/graphic-sr-circles-noTXT.svg">
            <div class="about-r2c-storage-bytes-txt pull-right">
                <div> 1 
                    <span class="font80">TB</span>
                </div>
                <div> 1000 
                    <span class="font80">GB</span>
                </div>
                <div> 100 
                    <span class="font80">GB</span>
                </div>
                <div> 10 
                    <span class="font80">GB</span>
                </div>
            </div>
        </div>
        <!-- asset sizes -->
        <!-- asset color healthy -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-volume-healthy pageview-icons font75"></span>
            <span class="colorHealthy">
                <strong>Green</strong>
            </span> – Healthy RPO between 0 min. and 20 min.
        </div>
        <!-- asset color healthy -->
        <!-- asset color weak -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-volume-weak pageview-icons font75"></span>
            <span class="colorWeak">
                <strong>Yellow</strong>
            </span> – Weak RPO between 20 min. and 30 min.
        </div>
        <!-- asset color weak -->
        <!-- asset color poor -->
        <div class="about-section-item about-section-bottom-line">
            <span class="sgicon-color-volume-poor pageview-icons font75"></span>
            <span class="colorPoor">
                <strong>Orange</strong>
            </span> – Poor RPO at 30 min. threshold or beyond.
        </div>
        <!-- asset color poor -->
        <!-- asset color initialsync -->
        <div class="about-section-item">
            <span class="sgicon-color-volume-initialsync pageview-icons font75"></span>
            <span class="colorException">
                <strong>Blue</strong>
            </span> – Exception (e.g., Initial Sync, Re-sync, Testing, or Unresponsive) status. RPO varies.
        </div>
        <!-- asset color initialsync -->
        
    </div>
    <!-- Shapes & Colors section -->


</div>
<!-- / bbq/app/r2c-sr/templates/about_popover.html -->