<div id="admin_form">  
  <%= form_for @compliance_compute, as: :compliance_compute, url: "/sungard/compliance_compute" do |f| %>
    <table>
       <% if @compliance_compute.errors.any? %>
      <tr>
        <td colspan="100">
          <div class="error_messages">
            <div class="errors">
              <ul>
                <% for message in @compliance_compute.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
        <% if flash[:notice] %>
            <div class="error_messages"><p><%= flash[:notice] %></p></div>
        <% end %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= f.label 'Name*' %>
            <%= f.text_field :name, placeholder: "Parent report name(product)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Group Name1*' %>
            <%= f.text_field :group_name1, placeholder: "Child report name(platform).The name must be same as HPNA device group name" %>
          </td>    
        </tr>
        <tr>
          <td>
            <%= f.label 'vCenter Version' %>
            <%= f.text_field :vCenter_Version, placeholder: "Please enter vCenter Version" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Group Name2*' %>
            <%= f.text_field :group_name2, placeholder: "Child report name(platform).The name must be same as HPNA device group name" %>
          </td>    
        </tr>
        <tr>
          <td>
            <%= f.label 'Esxi Version' %>
            <%= f.text_field :Esxi_Version, placeholder: "Please enter Esxi Version" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit 'Create Compliance Group'%>
          </td>
        </tr>
    </table>
  <% end %>
</div>
