<% content_for :tools_name, "Compliance Compute Management" %>
<%= render "sungard/shared/tools" %>
<h2 style="display: block;overflow: hidden;line-height: inherit;"><%= @toolname %></h2>
<% if current_user.vp_admin_role? %>
  <%= link_to 'add group', new_sungard_compliance_compute_path, :class => 'add button' %>
<% end %>
<a class="button" onclick="window.history.back()">back</a>