<% content_for :tools_name, "Help Management" %>
<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<% if @helps %>
	<%= link_to 'add help', new_sungard_help_path, :class => 'add button' %>
<% end %>
<a class="button" onclick="window.history.back()">back</a>

