<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<div style="padding: 1em;">
	<p>
	  <b>Title:</b>
	  <%= word_wrap @help.title %>
	</p>

	<p>
	  <b>Menu choice:</b>
	  <%= menu_name(@help.menu_id) %>   
	</p>

	<p>
	  <b>Body:</b>
	  <%= word_wrap @help.body %>
	</p>
</div>