<%= form_for @user, :url => services_confirmation_path(params[:id]), :method => :put do |f| %>
<div id="confirmation">


	<%= render :partial => "password", :locals =>{:f => f} %>
  <%= f.hidden_field "confirmation_token", :value => @user.confirmation_token %>
    <div class="actions">
      <label></label>
      <%= f.submit "Confirm" %>
    </div>
</div>
<div id="password_guidance">
    <span>Password must be a minimum of 8 characters long and contain at least one uppercase, lowercase, and number.</span>
</div>
<%= render :partial => "shared/errors", :locals => {:object => @user} %>
<% end %>
