<div>
	<%= label(:f,:password, "password") %>
	<%= f.password_field :password %>
</div>
<div>
	<%= label(:f,:password_confirmation, "retype") %>
	<%= f.password_field :password_confirmation %>
</div>