<% if @user.first_name.blank? and @user.last_name.blank? %>
Dear Viewpoint user,
<% else %>
Dear <%= @user.first_name%> <%= @user.last_name%>,
<% end %>
You have requested your credentials for the Viewpoint portal. For security reasons, we are unable to send your original password via email.
Please use the link below to reset your password. The link is only valid for 24 hours.
You can reset your password at: <%= services_password_reset_url(:id => @user.reset_password_token) %>