<% if @user.first_name.blank? and @user.last_name.blank? %>
Dear Viewpoint user,
<% else %>
Dear <%= @user.first_name%> <%= @user.last_name%>,
<% end %>

You have requested for a change in your email address to access Viewpoint portal. Please use the following link to confirm your new email address.
<%= services_email_reset_url(:id => @user.confirmation_token) %>

The link is only valid for 24 hours.
