<% if @user.first_name.blank? and @user.last_name.blank? %>
Dear Viewpoint user,
<% else %>
Dear <%= @user.first_name%> <%= @user.last_name%>,
<% end %>

You have requested a change in your existing email address.

 Existing Email Address :- <%= @user.email %>
 New Email Address :- <%= @user.pending_email %>

We have mailed confirmation details to your new email address.



