<table class="grid dark">
    <td class="header_form">
      <%= form_tag masquerades_path, :method => 'get', :class => 'submit-button' do %>
          <%= text_field_tag 'search',params[:search] || '', :placeholder =>'search companies', :class => 'apply_focus' %> 
          <%= submit_button 'search' %>
      <% end %>
    </td>
    <td  class="header_form">
      <% unless @companies.empty? %><%= @companies.count %>  of 14,203 <% end %>
    </td>
</table>
<table class="grid">
  <thead>  
    <tr>
      <th>Company Name</th>
      <th>User Count</th>
    </tr>
  </thead>  
  <tbody>
  <% if @companies.empty? %>
    <tr><td colspan="100">No Data</td></tr>
  <% else %>
    <% @companies.each do |d| %>
      <tr>
        <td><%= link_to d.name , :controller => "masquerades", :action => "show", :id => d[:guid]%></td>
        <td><%= d.user_count %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>