<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
    app.module('rails').start();
  })

<% end %>

<table class="grid delay_apply_datatable show_all">
  <thead>
  <tr>
    <th>User</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |d| %>
        <tr>
          <td><%= link_to d.email, :controller => "masquerades", :action => "new", :id => d.id %></td>
          <td><%= display_user_roles(d).to_sentence %></td> 
        </tr>
    <% end %>
  </tbody>
</table>
