<!-- group management -->

<div id="group_manager">

  <div class="group_name">
    <label>Group Name: </label><input type="text" value="Group Name">
  </div>

  <div class="group_list">

    <ul class="added_to_group">
      <li>device1 <em>×</em></li>
      <li>device2 <em>×</em></li>
      <li>device3 <em>×</em></li>
      <li>device4 <em>×</em></li>
      <li>device5 <em>×</em></li>
    </ul>

    <div class="group_save">
      <div>
        <input type="radio"> save this group
        <input type="radio"> save this as...
        <button>save</button>
      </div>
    </div>
  
  </div><!-- /group list -->

  <div class="group_picker">

    <div class="group_picker_head">
      
      <div class="load_group">
        <select>
          <option>Load existing group...</option>
          <option>group 1</option>
          <option>group 2</option>
          <option>group 3</option>
          <option>group 4</option>
        </select>
      </div>
      
      <div class="load_patchables">
        <!-- select>
          <option>Load by patch...</option>
          <option>group 1</option>
          <option>group 2</option>
          <option>group 3</option>
          <option>group 4</option>
        </select -->
      </div>
      
      <div class="show_ignored">
        <!-- input type="checkbox" checked=""> hide ignored -->
      </div>

    </div><!-- /group picker head -->

    <div class="group_table">

      <table class="group_table_head grid">
        <thead>
          <tr>
            <th class="check col1"><div style="width: 80px;"><button>✔ all</button></div></th>
            <th class="text col2"><div style="width: 150px;">Name</div></th>
            <th class="text col3"><div style="width: 150px;">Type</div></th>
            <th class="text col4"><div style="width: 150px;">IP</div></th>
            <th class="multi col5"><div style="width: 231px;">Description</div></th>
            <!-- th class="delete col6"><div style="width: 21px;">&nbsp;</div></th -->
          </tr>
        </thead>
      </table>

      <div class="ns_scroll">
        <table class="group_results_table grid"><!-- scrolls -->
          <tbody class="group_results">
            <tr>
              <td class="check col1" style="width: 60px;"><div><input type="checkbox"></div></td>
              <td class="text col2" style="width: 130px;"><div>Item Name</div></td>
              <td class="text col3" style="width: 130px;"><div>Item Type</div></td>
              <td class="text col4" style="width: 130px;"><div>100.100.100.100</div></td>
              <td class="multi col5" style="width: 211px;"><div>Some text to show that this table cell should be able to accommodate larger amounts of text.</div></td>
              <!-- td class="delete col6" style="width: 1px;"><div>×</div></td -->
            </tr>
          </tbody>
        </table>
      </div><!-- /ns_scroll -->

    </div><!-- /group table -->
  
    <div class="group_table_foot">
      <div>
        <div><button class="add_selected">add selected</button></div>
        <div><button class="add_all">add all</button></div>
        <div class="alert_icon"><!--! ignored assets not shown--></div>
      </div>
    </div>

  </div><!-- /group picker -->

</div><!-- /group management -->


<script>
sync_columns = function(){
  var header_row = $('#group_manager table.group_table_head tr:first-child'),
    results_first_row = $('#group_manager table.group_results_table tr:first-child');
    header_row.add(results_first_row).find('th, td').removeAttr('style');

    results_first_row.find('td').each(function(i){

    var width = $(this)
      .each(function(){
        $(this).not(':has(div.force-width)').html('<div class="force-width">'+$(this).html()+'</div>');
      })      
      .find('.force_width')
      .width(),
  
    th = header_row.find('th').eq(i);

    $(this).width(width);
    th.html('<div>'+th.html()+'</div>')
      .find('div')
      .width(width);
  });

  $('#group_manager table.grid').css('table-layout','fixed');

    // Todo...
    // check to see if either table is larger than it's parent and remove cols
    // or add hidden if there's room

}

$(window).resize(sync_columns).resize();
</script>