<% if flash[:notice] %>    
  <div class="error_messages"><p><%= flash[:notice] %></p></div>
<% end %>

<div class="dialog_form">
	<div id="admin_form" class="admin_user_form">
		<%= form_tag admin_sessions_path, {:id => 'login_form'} do %>
		<div>
			<div class="field">
				<%= label_tag :email %>
    			<%= text_field_tag :email %>
			</div>
			<div class="field">
				<%= label_tag :password %>
				<%= password_field_tag :password,:placeholder => '************' %>
			</div>
		</div>
			<div>
				<label>&nbsp;</label><%= submit_tag "Internal-Log In" %>
			</div>
		<% end %>
	</div>
</div>