#env_dash{
	overflow: auto;
	margin: 25px;
}

#env_dash > .grid_col_1{
	float: left;
}

#env_dash > .grid_col_2{
	float: left;
	margin-left: 20px
}

#env_dash .module_container{
	float: left;
	.chart_toggle{
		float: right;
		@include border-radius(3px);
		.toggle{
			display: inline-block;
			font-size: 10px;
			font-weight: bold;
			color: #7c7c7c;
			background-color: #e9e9e9;
			padding: 2px 4px;
		}
		.left{
			@include border-radius(3px 0 0 3px);
		}
		.right{
			@include border-radius(0 3px 3px 0);
		}
		.on{
			color: #ffffff;
			background-color: #5291ae;
		}
	}
	.flot-tick-label{
		color: #aaaaaa;
		font-size: 11px;
		line-height: 1.2;
	}
}

#env_dash_health{
	.module_body{
		height: 378px;
	}
	.health_chart{
		height: 142px;
		width: 142px;
		margin: 17px auto 0 auto;
		background-color: #f7f7f7;
		border: 1px solid #eeeeee;
		@include border-radius(72px);
		position: relative;
		.canvas{
			height: 132px;
			width: 132px;
			margin: 5px;
			position: relative;
			z-index: 1;
		}
		.overlay{
			height: 142px;
			width: 142px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			text-align: center;
			.title{
				font-size: 8px;
				text-transform: uppercase;
				color: #7c7c7c;
				font-weight: bold;
				display: block;
				margin-top: 44px;
			}
			.percentage{
				font-size: 34px;
				color: #4a4a4a;
				font-weight: bold;
				margin-top: 7px;
				display: block;		
			}
		}
	}
	table{
		border-collapse: collapse;
		border-spacing: 0;
		width: 80%;
		margin: 28px auto;
		padding: 0;
	}
	th{
		padding: 0;
	}
	td{
		padding-top: 5px
	}
	td.padding{
		padding-top: 18px;
	}
	th.asset, td.asset{
		width: 80%;
		text-align: left;
	}
	th.health, td.health{
		// width: 34%;
		text-align: right;
	}
	th{
		font-size: 12px;
		color: #4a4a4a;
		padding-bottom: 8px;
		border-bottom: 1px solid #f0f1f2;
	}
	.indicator {
		height: 3px;
		width: 3px;
		display: inline-block;
		@include border-radius(5px);	
	}
	.indicator_green, .indicator_Healthy {
		border: 3px solid #379e5f;
	}
	.indicator_yellow, .indicator_Warning {
		border: 3px solid #fabe2c;
	}
	.indicator_orange, .indicator_Error {
		border: 3px solid #FF6600;
	}
	.indicator_red, .indicator_Critical {
		border: 3px solid #a71117;
	}
	.asset_type{
		font-weight: bold;
		display: inline-block;
		margin: 0 0px -4px 2px;
		color: #7c7c7c;
		font-size: 12px;
		max-width: 65%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	}
	.asset_count{
		font-size: 12px;
		color: #7c7c7c;
	}
	.asset_health_count{
		font-size: 12px;
		color: #4a4a4a;
		font-weight: bold;
	}
	.asset_health_percentage{
		font-size: 11px;
		color: #7c7c7c;
	}
}

#env_dash_backups{
	display: none;
	margin-top: 20px;
	position: relative;
	.backups_chart_header{
		padding: 0 18px;
		overflow: auto;
		margin-top: 11px;
		.header{
			font-size: 12px;
			font-weight: bold;
			color: #4a4a4a;
			float: left;
			margin-top: 5px;
		}
		.form-group{
			padding-bottom: 15px;
		}
		select{
			min-width: auto;
	    font-size: inherit;
	    margin: 0px;
		}
	}
	.backups_chart{
		height: 120px;
		margin: 25px 17px 12px 17px;
		position: relative;
		.canvas{
			height: 120px;
			width: 100%;
		}
	}
}

#env_dash_backups_tooltip, #env_dash_events_tooltip{
	position: absolute;
	display: none;
	padding: 2px 2px 2px 2px;
	text-align: center;
	background-color: #616161;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	@include border-radius(3px);
	&:after{
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 3px solid #616161;
		content: " ";
		position: absolute;
		bottom: -3px;
		left: 6px;
	}
}

#env_dash_events{
	position: relative;
	.events_chart_header{
		overflow: auto;
		margin-top: 15px;
		padding: 0 18px;
	}
	.chart_toggles{
		float: left;
		margin-top: 2px;
		.toggle{
			display: inline-block;
			margin-right: 23px;
			.checkbox{
				border: 1px solid #c1c1c1;
				height: 13px;
				width: 13px;
				margin: 0;
				padding: 0;
				color: #c1c1c1;
				background-color: #ffffff;
			}
			.toggle_label{
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
				margin-left: 10px;
			}
			.label_critical{
				color: #a71117;
			}
			.label_error{
				color: #fb9056;
			}
			.label_warning{
				color: #dba012;
			}
			.label_info{
				color: #5291ae;
			}
		}
	}
	.events_chart{
		height: 150px;
		margin: 15px 20px 14px 20px;
		position: relative;
		.canvas{
			height: 150px;
			width: 100%;
		}
	}
	.events_chart_placeholder{
		width: 100%;
		text-align: center;
		position: absolute;
		top: 106px;
		font-size: 16px;
		font-weight: normal;
		color: #aaa;
		display: none;
	}
}

#env_dash_ticketing{
	.module_body{
		height: 214px;
	}
	table{
		border-collapse: collapse;
		border-spacing: 0;
		width: 222px;
		margin: 32px auto 0 auto;
		padding: 0;
	}
	th,td{
		padding: 0;
	}
	th{
		font-size: 8px;
		text-transform: uppercase;
		color: #7c7c7c;
	}
	th.type, td.type{
		text-align: left;
		width: 80px;
		font-size: 12px;
		font-weight: bold;
		color: #7c7c7c;
		white-space: nowrap;
	}
	th.past, td.past{
		text-align: center;
		width: 44px;
	}
	th.active, td.active{
		text-align: center;
		width: 54px;
	}
	th.future, td.future{
		text-align: center;
		width: 44px;
	}
	td.active{
		font-size: 18px;
		font-weight: bold;
		color: #476e9e;
	}
	td.inactive{
		font-size: 18px;
		font-weight: bold;
		color: #999999
	}
	tbody > tr{
		border-bottom: 1px solid #e2e2e2;
	}
	tr.first > td{
		padding: 6px 0 15px 0;
	}
	td{
		padding: 14px 0 14px 0;
	}
	tbody > tr.last, tbody > tr:last-child {
		border-bottom: 0;
	}
}

#env_dash_assets{
	margin-top: 27px;
	background-color: #ffffff;
	position: relative;
	overflow-x: hidden;
	.module_body{
		max-height: 346px;
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;
	}	
	.indicator {
		height: 3px;
		width: 3px;
		display: inline-block;
		@include border-radius(5px);
	}
	.indicator_value {
		display: none;
	}
	.indicator_green, .indicator_Healthy {
		border: 3px solid #379e5f;
	}
	.indicator_yellow, .indicator_Warning {
		border: 3px solid #fabe2c;
	}
	.indicator_red, .indicator_Critical {
		border: 3px solid #a71117;
	}
	.indicator_orange, .indicator_Error {
		border: 3px solid #FF6600;
	}
	.indicator_text{
		display: inline-block;
		margin-left: 5px;
		font-weight: bold;
	}
	.indicator_text_green, .indicator_text_Healthy {
		color: #379e5f;
	}
	.indicator_text_yellow, .indicator_text_Warning {
		color: #fabe2c;
	}
	.indicator_text_red, .indicator_text_Critical {
		color: #a71117;
	}
	.indicator_text_orange, .indicator_text_Error {
		color: #FF6600;
	}
	thead th,
	thead td,
	tbody th,
	tbody td {
	  padding: 10px 20px;
	  border-right: 1px solid #E2E2E2;
	  text-align: left;
	}
	tbody th,
	tbody td {
	  border-bottom: 1px solid #E2E2E2;
	}
	thead th.sort div.label{
		padding-left: 20px;
	}
	thead th:last-of-type, tbody td:last-of-type{
	  border-right: 0;
	}
	thead th{
		font-size: 13px;
		color: #333333;
		background-color: #F6F6F6;
		font-weight: bold;
	}
	tbody td{
		color: #666666;
		font-size: 12px;
	}
	tbody td.data_centered{
		text-align: center;
	}
	tbody tr:nth-of-type(odd){
		background-color: #ffffff;
	}
	tbody tr:nth-of-type(even){
		background-color: #F6F6F6;
	}
	tbody tr:hover {
		background-color: #e2e2da;
	}
	tbody tr.no_results, tbody tr.no_results:hover {
		background-color: #ffffff;
	}
	tr.datatable_row_critical{
		background-color: #ffeeee !important;
		td.sorting_1{
			background-color: #f7dcdc !important;
		}
	}
	tr.datatable_row_warning{
		background-color: #fffcee !important;
		td.sorting_1{
			background-color: #f1edd8 !important;
		}
	}
	tr.datatable_row_error{
		background-color: #fff4ee !important;
		td.sorting_1{
			background-color: #ffe6d9 !important;
		}
	}
	.arrows {
	  display: none;
	  position: absolute;
	  top: 0;
	  left: 20px;
	  width: 10px;
	  height: 100%;
	}
	.arrows:before, .arrows:after {
	  height: 0;
	  width: 0;
	  padding: 0;
	  position: absolute;
	  content: '';
	  display: block;
	  border: solid 4px transparent;
	}
	.arrows:before {
	  top: 50%;
	  margin-top: -9px;
	  border-bottom-color: #C8C8C8;
	}
	.arrows:after {
	  bottom: 50%;
	  margin-bottom: -9px;
	  border-top-color: #C8C8C8;
	}
	.sort .arrows {
	  display: block;
	}
	.sort.asc .arrows:before {
	  border-bottom-color: #313131;
	}
	.sort.desc .arrows:after {
	  border-top-color: #313131;
	}
	.thead_original_container{
		.thead_original_container_container{
			background:#f6f6f6;
		}
	}
	table {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;
		&.head {
			padding-right:17px;
			tr.filter-row th {
				padding: 0px 20px 10px 20px !important;
				background: #F6F6F6 !important;
				border-top: none;
				border-bottom: none;
				text-align: left;
				border-bottom: 1px solid #E2E2E2;
			}
			input.text_search_filter {
				@include corners(4px);
				border: 1px solid #E2E2E2;
				width: 100%;
				background: #fff;
				color: #666;
				font-size: 14px;
				line-height: 18px;
				height: 28px;
				padding: 5px 28px 5px 6px;
				position: relative;
				background-image: url('ehealth/search_light.png');
				background-repeat: no-repeat;
				background-position: right center;
				font-family:Helvetica,Arial,sans-serif;
			}
			input.text_search_filter:focus {
				outline:none;
				border: 1px solid #c5c5c5;
			}
		}
	}	
}

#env_dash .clear{
	clear: both;
}

//responsive tablet mode
@media only screen and (max-width : 1052px) {
	#env_dash > .grid_col_2{
		margin-left: 0;
	}
	#env_dash_health.module_container{
		float: left;
		margin-right: 20px;
	}
	#env_dash_backups.module_container{
		float: left;
		margin-top: 0;
	}
	#env_dash_ticketing.module_container{
		margin-top: 20px;
	}
	#env_dash_events.module_container{
		margin-top: 20px;
	}
	#env_dash_assets.module_container{
		margin-top: 20px;
	}
}

//responsive mobile mode
@media only screen and (max-width : 680px) {
	#env_dash > .grid_col_2{
		margin-left: 0;
	}
	#env_dash_health.module_container {
		float: left;
		margin-right: 0;
	}
	#env_dash_backups.module_container{
		float: left;
		margin-top: 20px;
	}
	#env_dash_ticketing.module_container{
		margin-top: 20px;
	}
	#env_dash_events.module_container{
		margin-top: 20px;
	}
	#env_dash_assets.module_container{
		margin-top: 20px;
	}
	#env_dash_events{
		.chart_toggles{
			float: left;
			margin-top: 2px;
			width: 140px;
			.toggle{
				display: block;
				margin-right: 0;
				margin-bottom: 10px;
			}
			.toggle:last-of-type{
				margin-bottom: 0;
			}
		}
	}

}

#ehealth_help {
	position: fixed;
	width: 64px;
	height: 46px;
	top: 0;
	right: 192px;
	z-index: 10000;
	cursor: pointer;
}

// choices
#env_dash_health.module_container .module_body {
	overflow-y: scroll;
}
#ehealth .health_select {
	position: relative;
	cursor: pointer;
	&:after {
		content: " ";  
		width: 0; 
		height: 0;
     		display: block; 
     		position: absolute; 
     		top: 50%; 
     		right: 12px;
     		margin-top: -3px;
		border: solid transparent 4px;
		border-top-color: rgba(0,0,0,0.6);
	}
	&:hover {

		 .health_choices {
			display: block;		
		}
	}
	.health_choices {
		@include  layer($top: 100%, $right: 8px, $bottom: auto, $left: -4px);
		display: none;
		border: 1px solid #E2E2E2;
		> div {
			font-weight: normal;
			padding: 4px;
			background: #fff;
			cursor: pointer;
			&:hover {
				background: #5291ae;
				color: #fff;
			}
		}
	}
}

.environment_health_table {
	table-layout: fixed;
}

