<% content_for :tools_name, "Statements" %>
<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<%= link_to 'add statement', new_sungard_statement_path, :class => 'add button' %>
<a class="button" onclick="window.history.back()">back</a>

