<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<table id="statements" class="grid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
    </tr>
</thead>
<tbody>
<% @statements.each do |statement| %>
  <tr>
    <td><%= link_to statement.name, edit_sungard_statement_path(statement) %></td>
    <td><%= statement.position %></td>
  </tr>
<% end %>
</tbody>
</table>