<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<p>
  <%= @statement.report_id %>
</p>

<p>
  <%= @statement.name %>
</p>

<%= link_to 'Edit', edit_sungard_statement_path(@statement) %> |
<%= link_to 'Back', sungard_statements_path %>