<%= form_tag  services_password_resets_path, :method => :post do %>
  <% if flash[:notice] %>
      <div class="error_messages"><%= flash[:notice] %></div>
   <% end %>
  <div>
	  <div>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div>
      <label></label>
      <%= submit_tag "reset" %>
    </div>
  </div>
<% end %>