<% if @user.new_record? %>
  <%= form_tag services_password_reset_path, :method => :put do %>
    <%= fields_for :user, @user do |f| %>
      <div>
  	    <%= render :partial =>"services/confirmations/password", :locals => { :f => f} %>
        <div class="actions">
          <label style="display:block; width: 60px;">&nbsp;</label>
          <%= f.hidden_field "reset_password_token", :value => @user.reset_password_token %>
          <%= f.submit "confirm" %>
        </div>
      </div>
      <div id="password_guidance">
        <span>Password must be a minimum of 8 characters long and contain at least one uppercase, lowercase, and number.</span>
      </div>
      <%= render :partial => "shared/errors", :locals => {:object => @user} %>      
    <%end%>
  <%end%>
<% else %>
  <%= form_for @user, :url => services_password_reset_path(params[:id]), :method => :put do |f| %>
    <div>
  	  <%= render :partial =>"services/confirmations/password", :locals => { :f => f} %>
      <div class="actions">
        <label style="display:block; width: 60px;">&nbsp;</label>
        <%= f.hidden_field "reset_password_token", :value => @user.reset_password_token %>
        <%= f.submit "confirm" %>
      </div>
    </div>
    <div id="password_guidance">
      <span>Password must be a minimum of 8 characters long and contain at least one uppercase, lowercase, and number.</span>
    </div>    
    <%= render :partial => "shared/errors", :locals => {:object => @user} %>    
  <% end %>
<% end %>
