<% if @component_list.blank? %>
	<%= render :partial => "no_data" %>
<% else %>
	<% @component_list.each do |ct| %>
	  <%-# dont show when there's no data supplied from zenoss -%>
	  <% if ct.name != "LDOM" && ct.name != "ldom_virtual_cp_us" %>
	    <%= render(:partial => "/sgtools/rails/zenoss/devices/components/#{ct.name}", :locals => {:component_type => ct.name} ) rescue Rails.env == 'development' ? "" : next %>
	    <%= render(:partial => "/sgtools/rails/zenoss/devices/components/fillable", :locals => { :component_type => ct.name, :count => ct.count }) rescue "" %>
	  <% end %>
	<% end %>
<% end %>