<% if @device.atype == 'Firewall' && current_user.role?('firewall_viewer') %>
  <h3 class="button" id="firewall_logs" rel="<%= @device.id%>">Firewall Logs</h3>
<% end %>
<dl id="device_details">
  <dt>STATUS</dt>
  <dd class='status'>--</dd>
  <dt>PRODUCTION STATE</dt>
  <dd><%= @device.production_state  rescue '--'  %>&nbsp;</dd>
  <dt>PRIORITY</dt>
  <dd><%= @device.priority  rescue '--'  %>&nbsp;</dd>
  <dt>IP's</dt>

  <dd>
    <p><span><%= @device.customer_production_ip.presence ||  '--' %></span>production</p>
    <p><span><%= @device.ip_address_formatted.presence ||  '--' %></span>management</p>
  </dd>

  <dt>HARDWARE MANUFACTURER</dt>
  <dd><%= @device.os_manufacturer  rescue '--'  %>&nbsp;</dd>
  <dt>HARDWARE MODEL</dt>
  <dd><%= @device.hw_model  rescue '--' %>&nbsp;</dd>
  <dt>OS MANUFACTURER</dt>
  <dd><%= @device.os_manufacturer_uid  rescue '--' %>&nbsp;</dd>
  <dt>OS MODEL</dt>
  <dd><%= @device.os_model  rescue '--' %>&nbsp;</dd>
  <dt>SYSTEMS</dt>
  <dd><%= @device.company_use  rescue '--'  %>&nbsp;</dd>
  <dt>LOCATION</dt>
  <dd><%= @device.location  rescue '--'  %>&nbsp;</dd>
  <dt>SERIAL NUMBER</dt>
  <dd><%= @device.serial_number  rescue '--' %>&nbsp;</dd>
  <dt>TAG NUMBER</dt>
  <dd><%= @device.tag_number  rescue '--' %>&nbsp;</dd>
  <dt>RACK SLOT</dt>
  <dd class='rack_slot'>--</dd>
  <dt>SNMP SYSNAME</dt>
  <dd class='snmp_sys_name'>--</dd>
  <dt>SNMP LOCATION</dt>
  <dd class='snmp_location'>--</dd>
  <dt>SNMP CONTACT</dt>
  <dd class='snmp_contact'>--</dd>
  <dt>SNMP DESCRIPTION</dt>
  <dd class='snmp_descr'>--</dd>
  <dt>SNMP VERSION</dt>
  <dd class='snmp_version'>--</dd>
</dl>
