<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('device').start({guid:"<%=@device.asset_guid %>", company_guid: "<%= current_user.company_guid%>"});
  //Set the selected page as events
  window.C.page = "ms-devices";
  })

<% end %>




<input type="hidden" id="asset_guid_js" value="<%=@device.asset_guid %>" />
<% content_for :title do %>
        <title>Sungard: Asset Profile - <%= @device.name.blank? ? @device.id : @device.name %></title>
<% end %>

<% content_for :tools_bar do %>
        <h2 class="tool-name">asset profile: <%= @device.name.blank? ? @device.id : @device.name %></h2>
        <h2 class="<%#= @device.device_health %>"><%#= @device.device_health %></h2>
<% end %>

<!-- needs to add "class='empty'"" if not applicable-->

<!-- ajax calling api's by div id -->
<div id="dash">
        <div class="slider">
                <div id="widgets" class="dash_panel">
                        <%= render :partial => "widgets" %>
                </div>
                <div id="incidents_panel" class="dash_panel">
                        <%= render :partial => "sgtools/rails/itsm/shared/incidents" %>
                </div>
                <div id="changes_panel" class="dash_panel">
                        <%= render :partial => "sgtools/rails/itsm/shared/changes" %>
                </div>
                <div id="mx_windows_panel" class="dash_panel">
                        <%= render :partial => "sgtools/rails/itsm/shared/mx_windows" %>
                </div>
                <div id="events" class="dash_panel">
<%
@type = "asset_guid"
@guid = @device.asset_guid
%>
                        <%= render :partial => "events" %>
                </div>
                <div id="thesholds" class="dash_panel">
                        <%= render :partial => "thresholds" %>
                </div>
                <div id="components" class="dash_panel">
                        <%= render :partial => "components" %>
                </div>
                <div id="graphs" class="dash_panel">
                        <%= render :partial => "graphs" %>
                </div>
        </div>
</div>
