<% content_for :tools_name, "Menu Management" %>
<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<% if @menus %>
  <%= link_to 'add menu', new_sungard_menu_path, :class => 'add button' %>
<% end %>
<a class="button" onclick="window.history.back()">back</a>