<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<% if flash[:notice] %>    
  <div class="error_messages"><p><%= flash[:notice] %></p></div>
<% end %>
<table class="grid">
  <thead>
    <tr>
      <th>Title</th>        
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.title, edit_sungard_menu_path(menu) %></td>
        <td class="delete" style="width: 1%;"><%= button_to '&times;'.html_safe, [:sungard, menu], :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to delete this menu?')"} %></td>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>
