<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<div style="padding: 1em;">
	<p>
	  <b>Title:</b>
	  <%= @menu.title %>
	</p>
</div>	
