<div class="graph_container">
<% if graph.nil? %>
	<%= link_to '', new_graph_path(graph, :dash_id => @dashboard.id.to_s),:class => 'add_graph', :title => 'Click to add a custom graph.' %>
	<!-- a class="add_graph" title="Click to add a custom graph." href=""></a -->
<% else %>
	<div>
		<% @graph_api_list = 'empty'
			unless graph.uid.blank?
				uid = graph.uid[0].split(',')
			    graph.assets[0].split(',').each_with_index do |a, i| 
			    	@graph_api_list += ',/api/devices/' + a + '/metrics/' + uid[i]
			    end
		    end
		%>
		<h3>
			<%= graph.name %>
			<!--
			<% if graph.order == 1 %>
				<!-- TODO: jquery ajax the form that changes the order in the db
				and rearrange the current view without refresh on ajax success
				<a class="order min"></a>
			<% elsif graph.order == @graphs.length %>
				<a class="order max"></a>
			<% else %>
				<a class="order"></a>
			<% end %>
			-->
			<a class="expand"></a>
			<%= link_to '', edit_graph_path(graph, :dash_id => @dashboard.id.to_s),:class => 'edit' %>
			<%#= link_to '', graph, :class => 'delete', confirm: 'Are you sure?', method: :delete %>
			<!-- connect this to sort buttons above -->
			<% ['next', 'prev'].each do |direction| %>
		        <%= form_tag graph_order_index_path(:graph_id => graph), :method => 'post', :class => 'submit-button' do %>
		          <%= hidden_field_tag :movement, direction %>
		          <%= hidden_field_tag :dash_id, @dashboard.id.to_s %>
		          <!--p><%= submit_button direction %></p-->
		        <% end %>
			<% end %>
		</h3>
		<div rel="<%= @graph_api_list.sub(/empty,/,'') %>" class="dash_graph">
		</div>
	</div>
<% end %>
</div>
