<% content_for :requirejs do %>
  require(['viewpoint/interface_interface_graphs_page'], function(vp_interface_graphs_page){
    vp_interface_graphs_page.init()
  })
<% end %>

<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Metric</th>
    <th>TimeFrame</th>    
    <th></th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% @graphs.each do |graph| %>
  <tr>
    <td><%= link_to "<i>#{graph.name}</i>".html_safe, graph %></td>
    <td><%= truncate graph.description, :length => 60 %></td>
    <td><%= graph.metric %></td>
    <td><%= graph.timeframe %></td>    
    <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
    <td><%= link_to 'Destroy', graph, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
