
<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<style type="text/css">
    table th {
    	font-size: 1em;
    	line-height: 1.4em;
	}
	#device_time  td.head b{font-size:12px;font-weight: bold;}
	#widgets div.pane {width: 400px;}
	h4{background: none repeat scroll 0 0 #3b3b3b !important;
    color: #fff;padding: 10px !important;}
</style>
<div id="dash" style="height:400px">	
	<div class="slider">
		<div id="widgets" class="dash_panel">
			<div title="Device Time" class="pane"><h4>General Info</h4>
				<div id="device_time">
					<table style="width:100%" >
						<tbody>
							<tr>
								<td class="head">
									Test Began :			
								</td>
								<td class="head">
									<b class="uptime"><%= @start_time %></b>				
								</td>
							</tr>
							<tr class="alternate">
								<td>				
									Test Finish:
								</td>
								<td class="head">
									<b class="uptime"><%= @finish_time %></b>
								</td>
							</tr>
							<tr class="alternate">
								<td >				
									Test Length:
								</td>
								<td class="head">
									<b class="uptime"><%= @finish_time.to_i - @start_time.to_i %> seconds</b>
								</td>
							</tr>		
						</tbody>
					</table>
				</div>
			</div>
			<div title="Device Time" class="pane"><h4>Subsystem Results</h4>
				<div id="device_time">
					<table style="width:100%" >
						<tbody>							
							<% @success.each do |k,v| %>
							<tr class="alternate">
								<td class="head"><%= k %></td>
								<td class="head"><b class="uptime <%= v ? 'Pass' : 'Fail' %>"><%= v ? 'Pass' : 'Fail' %></b></td>
							</tr>
							  <% unless @errors[k].blank? %>
							    <td> <%= @errors[k] %> </td>
							  <% end %>
							<% end %>	
						</tbody>
					</table>
				</div>
			</div>
		</div>		
	</div>
</div>