<h1>Subsystem Test Results:</h1>

<h2>General Info</h2>
<h3>Test Began : <%= @start_time %></h3>
<h3>Test Finish: <%= @finish_time %></h3>
<h3>Test Length: <%= @finish_time.to_i - @start_time.to_i %> seconds</h3>

<p />

<h2>Subsystem Results</h2>
<% @success.each do |k,v| %>
<h3><%= k %>: <%= v ? 'Pass' : 'Fail' %></h3>
  <% unless @errors[k].blank? %>
    <p> <%= @errors[k] %> </p>
  <% end %>
<% end %>