<%= form_for @user, :url => services_email_reset_path(params[:id]), :method => :put do |f| %>
<div>
	<table>
		<tr>
			<td colspan="2">
  				<%= render :partial => "shared/errors", :locals => {:object => @user} %>
  			</td>
  		</tr>
  	<tr>
  	    <td colspan="2">			
   			<p> Are you sure you want to change your current email address from <i><%= @user.email%></i> to <i><%= @user.pending_email%></i>?</p>
   			<%= f.hidden_field "confirmation_token", :value => @user.confirmation_token %>
   		</td>
   	</tr>
   	<tr>
   	    <td style="width:120px;">
	      <div class="actions">
	      	  <%= f.submit "Yes",:style => 'width:100px;' %>
	      </div>
	    </td>
	    <td><%= link_to 'Cancel', root_path %></td>
	</tr>
</table>
</div>
<% end %>
