<% a_list = @group.asset_list %>
<% cmp_guid = current_user.company_guid %> 

<div id="groups_form">

  <div style="width: 48%">
    <div>
<%= table_for_company_assets(cmp_guid, a_list) %>
    </div>
  </div>

  <div style="width: 4%; text-align: center">
    <button id="cl_right"></button>
    <button id="cl_left"></button>
  </div>    

  <div style="width: 45%">

    <div>
      <%= form_for(@group) do |f| %>
        <div>
          <div>
              <% if @group.errors.any? %>
              <div class="error_messages">
                <div class="errors">
                  <ul>
                    <% for message in @group.errors.full_messages %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= label_tag "Asset list" %>
            </div>
        </div>
        
          <div style="height: 100%;">
              <div id="table_dest_wrapper" style="padding-bottom: 0;">
                <div>
                    <table id="table_dest" class="grid">
                    <%= table_head_row %>
                    <% if @group.new? %>
                      <tbody></tbody>
                    <% else %>
                    <%= table_body_asset_list(a_list) %>
                    <% end %>
                    </table>
                </div>
              </div>
        </div>
        
        <div>
          <div>
              <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

