<h2>groups</h2>
<% if @group %>
<a href="/groups" class="button">back</a>
<%#= link_to "back", edit_group_path(group), class="button" %>
<% else %>
<a id="add_group" class="add button">add group</a>
<% end %>