<div class="notice" style="display: none;">
  <!-- notice template use underscore -->
  New allocation successfully added...
  <!-- / -->
</div>

<div id="ipblock_detail">
  <div id="ipblock_head_container" class="editable">
    <!-- ipv6 detail template: already in templates/ip_block_detail.hbs -->
    
    <!-- / -->
  </div>

  <div id="ipblock_list">
  </div>
</div>

<!-- form holder -->
<div id="form_modal">
  <div class="view_container">
  </div>
</div>
