<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
  app.module('groups').start();
})

<% end %>

<% if flash[:notice] %>    
  <p><div class="error_messages"><p><%= flash[:notice] %></p></div>
<% end %>
<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Name</th>
    <th>Total Assets</th>
    <th></th>
    <th></th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
  <tr>
    <td><%= group.name %> </td>
    <td><%= group.asset_list.length %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Delete', group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
