<% if object.errors.any? %>
    <div class="error_messages">
		<div class="errors">
			<ul>
				<% for message in object.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
    </div>
<% end %>