<% time = Time.new %>
<div>
  <span class="links">
      <b class="sungard">© <%= time.year %> Sungard AS</b>
      <em class="sungard">/</em>
  	<%=link_to "Privacy Policy", privacy_path, :class => 'white' %>
      <em>/</em>
      <%=link_to "Services Data Policy", services_data_path, :class => 'white' %>
      <em>/</em>
  	<%=link_to "Legal Terms", terms_path, :class => 'white' %>
      <em>/</em>
  	<%=link_to "Safe Harbor", safe_harbor_path, :class => 'white' %>
  </span>

  <span class="allstream">© 1998-<%= time.year %> Manitoba Telecom Services Inc. All Rights Reserved.</span>

</div>
