<% if !Access.can_access_SN(current_user.company_guid)%>
  <%= link_to 'Sungard AS', welcome_path, :id => 'logo', :title => 'back to home screen' %>
<% else %>
  <%= link_to 'Sungard AS', "/my_board", :id => 'logo', :title => 'back to home screen' %>
<% end %>
<%= render "shared/menu" %>
<div class="buttons">

	<div class="noti">
		<span>
			<b id="b-notification-count"></b>
			<a></a>
			<div>
				<h1>Notifications</h1>
				<div>
					<div id="b-notifications"></div>					
				</div>
			</div>
		</span>
	</div>

	<div class="help">
 		<span rel="<%= @page_name || 'global' %>">
			<a></a>
<!-- 			<ul>
				<li class="help_doc" rel="<%= @page_name || 'global' %>">
					<a>Help Doc</a></li>
				<li class="live_support">
					<a onclick='window.open("https://uswdlwebp01/I3root/?u=" + encodeURI("<%= current_user.first_name %> <%= current_user.last_name %>"), "_blank", "height=600, width=750, location=0")'>Live Support</a></li>
			</ul>	 -->		
		</span>
		
	</div>
	<div class="user">
		<span>
			<a></a>
			<ul>
				<% if @masquerade %>
				<li><%= current_user.company_name %><br /><%= current_user.email %></li>
				<% else %>
				<li><%= session[:user_company] %><br /><%= sign_in_user.email %></li>
				<% end %>
				<% if (not current_user.is_sungard? and not @company_masquerade)%>
				<li><%= link_to 'Edit Profile', edit_admin_user_path(:id => current_user.id,:company_id => current_user.company_guid) %></li>
				<% end %>
				<li><%= link_to 'Log off', logout_path %></li>
			</ul>
		</span>
	</div>
	<div class="settings">
	  <span>
	    <a></a>
        <ul>
        <% unless current_user.is_sungard? %>	
	      	<li><%= link_to 'Groups', "/#groups" %></li>
	      <% end %>
	      <% "#{current_user.company_user_masquerade?}--- #{current_user.first_name}-" %>
          <% if not current_user.company_user_masquerade? %>
	        <% if (current_user.is_sungard? and current_user.can_masquerade?) || @masquerade %>
        	<li>
        		<% if @masquerade %>
        			<%= link_to '', unmasquerade_path, :class => 'masqueraded', :title => 'Remove current impersonate' %>
        		<% end %>	
	        	<%= link_to 'Masquerade', masquerades_path %>
	    	</li> 
		    <% end %>
		  <% elsif current_user.company_user_masquerade? %>
		  	<li>
	          <% if @masquerade %>
	            <%= link_to '', unmasquerade_path, :class => 'masqueraded', :title => 'Remove current impersonate' %>
	          <% end %>
	          <% if sign_in_user.is_sungard? %>
	              <%= link_to 'Masquerade', masquerades_path %>
	          <% end %>
	        </li>
        	<li>
        	  <% if @company_masquerade %>
			    <%= link_to '', home_company_path, :class => 'masqueraded', :title => 'Switch back to my company' %>
        	  <% end %>	        	  
        	  <% if session[:company_has_childs] %>
	        	<%= link_to'Switch&nbsp;Company'.html_safe, company_masquerades_path  %>
	          <% end %>
	    	</li> 
          <% end %>
          
	      <% if (current_user.is_sungard_admin?) and (current_user.is_viewpoint_admin?) %>
	        <li><%= link_to 'Viewpoint Admin', sungard_root_path %></li>
	      <% end %>
	      <% if (current_user.is_viewpoint_admin?) and (!current_user.is_sungard_admin?) %>
	        <li><%= link_to 'Viewpoint Admin', sungard_root_path %></li> 
	      <% end %> 
	      <% if (current_user.is_sungard_admin?) and (!current_user.is_viewpoint_admin?) %>
	        <li><%= link_to 'Sungard AS Admin', sungard_root_path %></li>
	      <% end %>
	      <% if (current_user.is_company_admin?) and (!current_user.is_sungard?) %>
	        <li><%= link_to 'Company Admin', admin_users_path %></li>
        <% end %>
		</ul>
	  </span>
	</div>
	<form id="search">
		<span class="open"></span>
		<div style="padding: 0em;">
			<div class="input-wrapper" style="opacity: 0;">
				<span><input type="text" onfocus="this.value = this.value;" id="search_input" name="s"></span>
				<span style="display:none" class="go"><input type="submit" value="Go"></span>
				<div id="device_search_results">
					<table>
						<thead>
							<tr>
								<td></td><td class="close"></td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
