<div id="nav" class="black">
	<ul >
		<li class="viewpoint">
			<% !Access.can_access_SN(current_user.company_guid)%>
 				<a href="/home">viewpoint</a>
			<% else %>
  			<a href="/my_board">viewpoint</a>
			<% end %>
		</li>
		<% if Access.can_access_SN(current_user.company_guid) %>
		<li class="ticketing">
			<% if PortalMapWorker.is_child?("mtai", current_user.company_guid) %>
				<%= link_to "ticketing", get_sn_url(), :rel => get_sn_url(), target: "_blank" %>
			<% else %>
				<%= link_to "ticketing", get_sn_url(), :rel => get_sn_url(), target: "_blank" %>
			<% end %>
		</li>
		<%end%>
		<li class="environment">
			<a href='/#ehealth'>Environment</a>
			<ul>
			  <li><%= link_to 'Devices', devices_path %></li>
			  <li><%= link_to 'Interfaces', interfaces_path %></li>
			  <li><%= link_to 'Events', events_path %></li>
			  <li><%= link_to 'Event Notifications', event_subscriptions_path %></li>
     	  <%if can? :read, SGTools::Rails::Infoblox::Dns::Zone%>
       	  <li><%= link_to 'DNS', '/ui/index.html#/dns' %></li>
     	  <%end%>
       	<li><%= link_to 'Firewalls', firewalls_path %></li>	
       	<% unless current_user.is_sungard? %>
     			<li><%= link_to 'Environment Health', '/#ehealth' %></li>
     		<% end %>
			</ul>
		</li>
		<li class="reports">
			<a href="/ui/index.html#/reports">Reports</a>
			<ul>
			  <li><a href="/ui/index.html#/reports">Reports</a></li>
			  <li><%= link_to "Subscriptions", reqs_path %></li> 
			</ul>
		</li>
		<li class="tools"><a>Tools</a>
			<ul>
				<li><a href="<%=tools_ids_path %>" target="_blank">IDS</a></li>
				<li><a href="<%=tools_netids_path %>" target="_blank">Net IDS</a></li>
				<li><a href="/tools/siem/Application.html" target="_blank">SIEM</a></li>
				<li><a href="https://www.edison.sgns.net/portal/login.jsp" target="_blank">SungardAS Cloud Portal</a></li>
				<% if current_user.is_sungard? %>
					<% portal_url = APP_CONFIG['legacy_portal'] %>
					<li><a href='<%=portal_url %>' target="_blank">Legacy Portal (IE Only)</a></li>
				<% end %>	
				<li><a href="http://sg-reports.evault.com/singlelogin/login.aspx" target="_blank">US Vaulting</a></li>
				<li><a href="https://wcc2.sungardvaulting.com/login/login.aspx" target="_blank">UK VytalVault Console</a></li>
				<li><a href="https://vvreports.sungardvaulting.com/erlogin/login.aspx" target="_blank">UK VytalVault Reports</a></li>
				<li><a href="https://ems.messageone.com/wfe/" target="_blank">Managed Email Archiving (EAS)</a></li>
				<li><a href="https://portal.nordicvault.com" target="_blank">SE Online Backup Portal</a></li>
			</ul>
		</li>
	</ul>
</div>
