<div class="dialog">
  <h3>Your password reset link is not valid any more</h3>
  <p>Please contact your company admin for more details </p>
  <p>If you have any problems please contact the Client Response Center at 1-800-441-1181.</p> 
</div>
