<div class="dialog">
  <h3>Your email has been changed successfully. Please use your new email address for login to viewpoint.</h3>
  <p><%= button_to "Login to Viewpoint", root_path, :method => :get %></p> 
</div>