<% if flash[:notice] %>
  <div class="error_messages"><p><%= flash[:notice] %></p></div>
 <%end%>
<ul id="dash" style="height: 611px;">
  <% if Access.can_access_SN(current_user.company_guid) %>
  	<li class="ticketing">
      <span></span>
      <% if PortalMapWorker.is_child?("mtai", current_user.company_guid) %>
        <%= link_to "ticketing", get_sn_url(), :rel => get_sn_url(), target: "_blank" %>
      <% else %>
        <%= link_to "ticketing", get_sn_url(), :rel => get_sn_url(), target: "_blank" %>
      <% end %>
    </li>
  <%end%>
  <li class="events"><span></span><%= link_to "events", events_path %></li>
  <% if can? :read, SGTools::Rails::Infoblox::Dns::Zone %>
    <li class="dns"><span></span><%= link_to "DNS", '/ui/index.html#/dns' %></li>
  <% end %>
  <% if @branding == "allstream" %>
    <li class="ug"><span></span><%= link_to "user guide", viewpoint_user_guide_allstream_url, :rel => viewpoint_user_guide_allstream_url() %>
  <% elsif session[:is_omi] %>
    <li class="ug"><span></span><%= link_to "user guide", viewpoint_user_guide_omi_url, :rel => viewpoint_user_guide_omi_url() %>
  <% else %>
    <li class="ug"><span></span><%= link_to "user guide", viewpoint_user_guide_url, :rel => viewpoint_user_guide_url() %>
  <% end %>
</ul>
