<h2>events </h2>
<% unless current_user.is_sungard? %>
	<h2 id="event_types">
		<a class="events">Live</a>
		<a class="event_histories">History</a>
	</h2>

	<%# = link_to '', export_live_events_path, :class => 'download button', :title => 'export live events' %>
	<a class='download button' title='export live events'></a>
<% end %>