<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('firewall').start('<%= current_user.role?('firewall_viewer') %>');
  })
<% end %>