<h3>Transport</h3>
<div>
<% if @device.blank? %>
Unable to retrieve data.
<% else %>
  <table id="az_widget">
    <tr>
      <td>
        <h4>Location Z</h4>
        <dl>
          <dt>Location:</dt><dd> <%= @device.location_z %></dd>
          <dt>Area/Room:</dt><dd> <%= @device.room_z %></dd>
          <dt>LEC:</dt><dd> <%= @device.lec_circuit_z %></dd>
          <dt>Telco Dmrk:</dt><dd> <%= @device.telco_demarc_z %></dd>
        </dl>
      </td>
      <td>
        <h4>Location A</h4>
        <dl>
          <dt>Location:</dt><dd> <%= @device.location %></dd>
          <dt>Area/Room:</dt><dd> <%= @device.room_a %></dd>
          <dt>LEC:</dt><dd> <%= @device.lec_circuit_a %></dd>
          <dt>Telco Dmrk:</dt><dd> <%= @device.telco_demarc_a %></dd>
        </dl>
      </td>
    </tr>
  </table>
<% end %>
</div>