<h3>CPU Performance (1hour)</h3>
<div>
  <div id="graph_cpu" class="gauge"></div>

  <% if @device.blank? %>

  <div id="graph_cpu" class="gauge">Unable to retrieve data.</div>

  <% else %>

  <form id='cpu_change'>
    <label for="cpu_input0" rel="10"><input id="cpu_input0" value="0" name="cpu_guage" type="radio" checked="checked">Average CPU</label>
    <label for="cpu_input1" rel="10"><input id="cpu_input1" value="1" name="cpu_guage" type="radio">Minumum CPU</label>
    <label for="cpu_input2" rel="10"><input id="cpu_input2" value="2" name="cpu_guage" type="radio">Maximum CPU</label>
    <label for="cpu_input3" rel="10"><input id="cpu_input3" value="3" name="cpu_guage" type="radio">Last Hour</label>
    <label style="padding-top: 2px; margin-top: 4px; border-top: solid 1px rgba(0,0,0,0.1); font-size: 0.9em">5-min Load Average <em style="font-weight:900; font-size: 1.4em; display: block; "><%= number_with_precision(((@perf_data['load_average_five_min']['average'] || 0) / 100), :precision => 2) %></em></label>
  </form>
</div>

<script>

var cpu_dataset = [];

cpu_dataset[0] = { 
  l: "Average CPU", 
  v: [<%= @perf_data['cpu_percent']['average'] %>,(100-<%= @perf_data['cpu_percent']['average'] %>)] 
};
cpu_dataset[1] = { 
  l: "Minumum CPU",  
  v: [<%= @perf_data['cpu_percent']['minimum'] %>,(100-<%= @perf_data['cpu_percent']['minimum'] %>)] 
};
cpu_dataset[2] = { 
  l: "Maximum CPU",
  v: [<%= @perf_data['cpu_percent']['maximum'] %>,(100-<%= @perf_data['cpu_percent']['maximum'] %>)] 
};
cpu_dataset[3] = {
  l: "Last Hour",  
  v: [<%= @perf_data['cpu_percent']['last'] %>,(100-<%= @perf_data['cpu_percent']['last'] %>)] 
};

var width = 130,
    height = 130,
    radius = Math.min(width, height) / 2;

var cpu_scale = d3.scale.linear()
                    .domain([40, 100])
                    .range([205, 0]);

function cpu_color(d,i) {
  if (i==1){
    return "#efefef";
  } else {
    if (d<=40) {
      $h = 205;
    } else {
      $h = cpu_scale(d);
    }
    return d3.hsl($h,0.71,0.42).toString();
  }
}

var cpu_pie = d3.layout.pie()
    .sort(null);

var cpu_arc = d3.svg.arc()
    .innerRadius(radius * 0.65)
    .outerRadius(radius);

var cpu_svg = d3.select("#graph_cpu").append("svg")
    .attr("width", "100%")
    .attr("height", "130")
    .attr("viewBox", "0 0 " + width + " " + height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var cpu_path = cpu_svg.selectAll("path")
    .data(cpu_pie(cpu_dataset[0].v))
  .enter().append("path")
    .attr("fill", function(d, i) { 
      return cpu_color(d.value,i);
    })
    .attr("d", cpu_arc)
    .each(function(d) { 
      this._current = d;
    }); // store the initial values
    
var cpu_text = cpu_svg.append("text")
    .attr("class","percent")
    .attr("text-anchor","middle")
    .attr("y","3%")
    .text(cpu_dataset[0].v[0]+"%");

var cpu_label = cpu_svg.append("text")
    .attr("class","label")
    .attr("text-anchor","middle")
    .attr("y","12%")
    .text(cpu_dataset[0].l);

$('#cpu_change input[name="cpu_guage"]').change(function(){
  cpu_change($(this).val());
});

function cpu_change($v) {
  cpu_path = cpu_path.data(cpu_pie(cpu_dataset[$v].v)); // update the data
  cpu_path.transition().duration(750).attrTween("d", cpu_arcTween)
  .attr("fill", function(d, i) { 
    return cpu_color(d.value,i);
  }); // redraw the arcs
  cpu_text.text(cpu_dataset[$v].v[0]+'%');
  cpu_label.text(cpu_dataset[$v].l);
}

// Store the displayed angles in _current.
// Then, interpolate from _current to the new angles.
// During the transition, _current is updated in-place by d3.interpolate.
function cpu_arcTween(a) {
  var cpu_i = d3.interpolate(this._current, a);
  this._current = cpu_i(0);
  return function(t) {
    return cpu_arc(cpu_i(t));
  };
}
</script>
<% end %>

