<h3>Device Stats</h3>
<div id="device_time">

	<table style="width:100%">
		<tr>
			<td colspan="2" class="head">
				<b class="uptime"></b>
				<div>UPTIME</div>
			</td>
		</tr>
		<tr>
			<td>
				<b class="first_seen"></b>
				<div>FIRST SEEN</div>
			</td>
			<td>
				<b class="last_changed"></b>
				<div>LAST CHANGE</div>
			</td>
		</tr>
		<tr>
			<td>
				<b class="last_collected"></b>
				<div>COLLECTED TIME</div>
			</td>
			<td>
				<b class="memory__swap"></b>
				<div>MEMORY/SWAP</div>
			</td>
		</tr>
	</table>

</div>