<h3>Memory Utilization (1hour)</h3>
<div>

<% if @device.blank? or @perf_data.blank? %>
Memory data is not available for this device.
<% else %>

<div id="graph_mem" class="gauge">

<script>

var dataset = [
<%= number_with_precision((((@perf_data['memory_available_bytes']['average'] || 0) /1024)/1024), :precision => 1, :delimiter => '') %>,
<%= number_with_precision((((@perf_data['memory_buffered_bytes']['average'] || 0) /1024)/1024), :precision => 1, :delimiter => '') %>,
<%= number_with_precision((((@perf_data['total_memory'] || 0) /1024)/1024), :precision => 0, :delimiter => '') %>-(<%= number_with_precision((((@perf_data['memory_available_bytes']['average'] || 0) /1024)/1024), :precision => 1, :delimiter => '') %>+<%= number_with_precision((((@perf_data['memory_buffered_bytes']['average'] || 0) /1024)/1024), :precision => 1, :delimiter => '') %>)
];

$t = <%= number_with_precision((((@perf_data['total_memory'] || 0) /1024)/1024), :precision => 0, :delimiter => '') %>;
$a = <%= number_with_precision((((@perf_data['memory_available_bytes']['average'] || 0) /1024)/1024), :precision => 1, :delimiter => '') %>

$label = (100*($t-$a))/$t;
$label = (Math.round($label*100))/100;

var width = 130,
    height = 130,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category20();

var pie = d3.layout.pie()
    .sort(null);

var arc = d3.svg.arc()
    .innerRadius(radius * .65)
    .outerRadius(radius);

var svg = d3.select("#graph_mem").append("svg")
    .attr("width", "100%")
    .attr("height", "130")
    .attr("viewBox", "0 0 " + width + " " + height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var path = svg.selectAll("path")
    .data(pie(dataset))
  .enter().append("path")
    .attr("fill", function(d, i) { 
      $('#mem_legend li:eq('+i+') span').css('background-color',color(i));
      return color(i); 
    })
    .attr("d", arc)
    .each(function(d) { this._current = d; }); // store the initial values
    
var text = svg.append("text")
    .attr("class","percent")
    .attr("text-anchor","middle")
    .attr("y","3%")
    .text($label+"%");

var label = svg.append("text")
    .attr("class","label")
    .attr("text-anchor","middle")
    .attr("y","12%")
    .text("Memory Used");

</script>
<% end %>
</div>

<ul id="mem_legend">
  <li>
    <span class="avail_mem" rel="10"></span>
    <label style="padding-top: 2px; padding-bottom: 0;">Available</label> <em style="font-weight:900; font-size: 1.3em; display: block; "><%= number_with_precision((((@perf_data['memory_available_bytes']['average'] || 0) /1024)/1024), :precision => 2, :delimiter => ',') %>Mb</em>
  </li>
  <li>
    <span class="buff_mem" rel="10"></span>
    <label style="padding-top: 2px; margin-top: 2px; border-top: solid 1px rgba(0,0,0,0.1); padding-bottom: 0;">Buffered</label> <em style="font-weight:900; font-size: 1.3em; display: block; "><%= number_with_precision((((@perf_data['memory_buffered_bytes']['average'] || 0) /1024)/1024), :precision => 2, :delimiter => ',') %>Mb</em>
  </li>
  <li>
    <span class="total_mem" rel="10"></span>
    <label style="padding-top: 2px; margin-top: 2px; border-top: solid 1px rgba(0,0,0,0.1); padding-bottom: 0;">Total</label> <em style="font-weight:900; font-size: 1.3em; display: block; "><%= number_with_precision((((@perf_data['total_memory'] || 0) /1024)/1024), :precision => 0, :delimiter => ',') %>Mb</em>
  </li>
</ul>

