<h3>Zenoss Event Totals</h3>
<div>
<% if @device.blank? %>
Unable to retrieve data.
<% else %>
  <div id="event_totals">
  		<div class="row">
	    <% [0,1,2,3].each do |i| %>
	    	<% if i==2 %>
	    </div>
	    <div class="row">
	    	<% end %>

	        	<div class='<%= @device.event_totals[i][:name] %>'><%= @device.event_totals[i][:name] %>
	        	<span rel="40"><%= @device.event_totals[i][:total] %></span></div>

	    <% end %>
		</div>
	</table>
<% end %>
</div>