<header>
    <h3>Asset Health</h3>
    <div class="dropdown-container">
        <span>Show: </span>
        <select name="health_choices">
            <option data-name="assets" value="Assets">Asset Type</option>
            <option data-name="groups" value="Groups">Groups</option>
        </select>
    </div>
</header>
<div class="content">
    <div class="chart-container">
        <p>Health Score</p>
        <div class="inner">
           <div id="asset-health-chart"></div>
           <p>
            <span class="total"></span>
            <span class="text"></span>
        </p>
    </div>
</div>
<div class="left">
    <div class="assets-container" data-name="assets">
        <p>
            <span id="health_type">All Assets</span>
            <span>Healthy</span>
        </p>

        <ul>
            <table class="environment_health_table">
                <tbody>
                </tbody>
            </table>
        </ul>
    </div>
</div>
