<td class="asset">
	<span class="indicator {{indicator}}"></span>&nbsp;<span class="asset_type" title="{{asset_type}}">{{asset_type}}</span>&nbsp;<span class="asset_count">({{total_devices}})</span>
</td>
<td class="health">
	<span class="asset_health_percentage" data-health-percentage="{{asset_health_percentage}}" data-health-assets="{{total_devices}}">{{asset_health_percentage}}%</span>
</td>