<div class="resp-container">
    <!-- Top Heading and buttons -->
    <div class="top">
    </div>
<div class="row">
    <!-- Quick Links window -->
    <div class="column left-column quick-links">
    </div>
    <!-- Recent Assets window -->
    <div class="column left-column recent-assets">
    </div>
    <div class="column right-column info-wide">
        <!-- Ticket Stats window -->
        <div class="column column50">
            <div class="box ticket-stats">
                <header>
                    <h3>Ticket Statistics</h3>
                    <span class="right">Last 30 Days</span>
                </header>
                <div class="content" id="ticket_stat">
                </div>
            </div>
        </div>
        <!-- Asset Health window -->
        <div class="column column50 last-column">
            <div class="box asset-health" id="asset_health">
            </div>
        </div>
    </div>
    <!-- Ticket Table window -->
    <div class="column right-column tickets-table" id="tickets-table">
        <div class="box">
            <header>
                <h3>Tickets</h3>
            </header>
            <div class="content" id="tickets">
            </div>
        </div>
    </div>
</div>
</div>