 <div class="box-container">
    <div class="box">
        <header>
            <h3>Recent Assets</h3>
        </header>
        <div class="content">
            <p>
                <span>Host</span>
                <span>Last Viewed</span>
            </p>
            <table class="controlled-show">
                <tr>
                    <td>
                        <table class="inner ticketing_table">
                            <tbody>
                            </tbody>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="show-buttons">
            <button class="less half">Show Less</button>
            <button class="more">Show More</button>
        </div>
    </div>
</div>
