{{#if type}}
<input type="radio" name="ticket-stats-radio" id="ticket-{{type}}" data-name="{{type}}">
<label for="ticket-{{type}}">
	<span>{{type}}</span>
	<span class="open">{{default active 0}}</span>
	<span class="closed">{{default past 0}}</span>
	<span class="total">{{add active past}}</span>
</label>
{{/if}}
