<div class="module_container" >
  <div class="thead_original_container">
    <div class="thead_original_container_container">
    <table class="head">
      <thead>
       <tr>
          <th class="text sort" data-sortby="number"><div class="label">Ticket#</div><div class="arrows"></div></th>
          <th class="text sort" data-sortby="state"><div class="label">State</div><div class="arrows"></div></th>
          <th class="text sort" data-sortby="summary"><div class="label">Summary</div><div class="arrows"></div></th>
          <th class="date sort" data-sortby="created_at"><div class="label">Created</div><div class="arrows"></div></th>
          <th class="date sort" data-sortby="updated_at"><div class="label">Updated</div><div class="arrows"></div></th>
        </tr>
        <tr class="filter-row">
          <th class="multi"><div><input type="text" class="text_search_filter" name="ticket_number"/></div></th>
          <th class="text"><div><input type="text" class="text_search_filter" name="state"/></div></th>
          <th class="text"><div><input type="text" class="text_search_filter" name="summary"/></div></th>
          <th class="date"><div><input type="text" class="text_search_filter" name="created"/></div></th>
          <th class="date"><div><input type="text" class="text_search_filter" name="updated"/></div></th>
        </tr>
      </thead>
    </table>
    </div>
  </div>
  <div class="module_body">
    <table class="active_asset_tables" cellspacing="0" width="100%">
      <tbody>
      </tbody>
    </table>
  </div>
</div>  
