<td>
  {{#is type 'Incident'}}
    <a href="{{sn_URL}}/incident.do?sys_id={{sys_id}}" TARGET="_blank"> {{number}} </a>
  {{/is}}
  {{#is type 'Requested Item'}}
    <a href="{{sn_URL}}/sc_req_item.do?sys_id={{sys_id}}" TARGET="_blank"> {{number}} </a>
  {{/is}}
  {{#is type 'Change Request'}}
    <a href="{{sn_URL}}/change_request.do?sys_id={{sys_id}}" TARGET="_blank"> {{number}} </a>
  {{/is}}
</td>
<td>{{state}}</td>
<td>{{summary}}</td>
<td>{{created_at}}</td>
<td>{{updated_at}}</td>