<div id="top-buttons">
		<button id="cti" >Change/Incident/Request</button>

    <button id="lilo-site-access" class="{{grant_access}}" onclick="window.open('{{sn_URL}}/saml_redirector.do?sysparm_uri=sg/u_lilo_reservations.do','_blank');">Secure Site Access</button>
    
    <button id="notification-matrix" onclick="window.open('{{sn_URL}}/saml_redirector.do?sysparm_uri=u_notification_matrix_mgt_list.do%3Fsysparm_query%3Du_archive%3Dfalse%5EEQ','_blank');">Notification Matrix</button>
	
	{{#if authorization}}
		<button id="authorization-matrix" onclick="window.open('{{sn_URL}}/saml_redirector.do?sysparm_uri=sg%2Fu_authorization_management.do%3Fsysparm_stack%3Du_authorization_management_list.do%26sys_id%3D-1%26sysparm_view%3Dauthman','_blank');">Authorization Matrix</button>
	{{else}}
	     <button id="authorization-matrix" onclick="window.open('{{sn_URL}}/saml_redirector.do?sysparm_uri=sg%2Fu_authorization_matrix_list.do?sysparm_fixed_query=active=true^u_archived=false^u_authorization !=Not Authorized^u_company.u_portal_id={{company_guid}}^u_user=javascript:gs.getUserID()','_blank');">Authorization Matrix</button>
	{{/if}}

</div>
<div id="mobile-buttons">
    <button id="quick-links-button">Quick Links</button>
    <button id="new-ticket-button">New Ticket</button>
</div>