<table class="grid">
  <thead>
    <tr>
      <td>Parent</td>
      <td>Child</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
  <% @dats.each do |d| %>
    <tr>
      <td><%= d.parent_company_name %></td> 
      <td><%= d.company_name %></td> 
      <td><%= link_to "Children, if available", sungard_parent_child_path(d.id_company_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>