<div id="admin_form">  
<%= form_for [:sungard, @company] do |f| %>
<table>
  <% if  @company.errors.any? %>
    <tr>
      <td colspan="100">
        <div class="error_messages">
          <div class="errors">
            <ul>
              <% for message in  @company.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% else %>
    <% if flash[:notice] %>
        <div class="error_messages"><p><%= flash[:notice] %></p></div>
    <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :company_guid %>
      <%= f.text_field :company_guid %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :backup_file_pattern %>
      <%= f.text_field :backup_file_pattern %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :force_prefetch %>
      <%= f.check_box :force_prefetch %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
</div>