<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<%= link_to 'add', new_sungard_ehealth_company_path, :class => 'add button' %>
<a class="button" onclick="window.history.back()">back</a>


