<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<div class="dialog_form">
 <%= render 'form' %>
</div>