<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p class ="about-section-header"><b>Company Administration</b></p>
      <p> Management of user accounts requires the <i>Company Admin</i> role. It allows you to:</p>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: disc">Assign roles
      	<li style="list-style-type: disc">Add, delete, and unlock accounts
      	<li style="list-style-type: disc">Reset passwords and resend the password confirmation
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View users</b>
      <p>At the subheader, click <b>portal users</b> or <b>non-portal users</b> to view the corresponding list of users.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item">
      <b>Search for users</b>
      <p>Type keywords at the <b>Search</b> field. For example, you can search by <b>Status, Last Name, First Name  </b>, or <b>Email</b>.The system displays any matches.</p>
      <p><b>Reset password, disable or remove a portal user</b></p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">The list of portal users includes the following buttons:</p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
        <tr>
          <td style="width: 30%"> <b>Reset password</b></td>
            <td style="padding-left: 2px">Click to reset the user’s password. The system sends the user an email with the password reset instructions.</td>
        </tr>
      </p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
        <tr>
          <td> <b>Disable<b></td>
            <td style="padding-left: 54px">Click to disable the user.</td>
        </tr>
      </p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
        <tr>
          <td> <b>X<b></td>
            <td style="padding-left: 83px">Click to remove the user.</td>
        </tr>
      </p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Convert a non-portal user to a portal user</b>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: decimal">At the list of non-portal users, find the user you want to convert and click <b>Convert to Portal User</b>.</li>
      	<p>The user’s page appears.</p>
      	<li style="list-style-type: decimal">Follow the instructions to create a new user, as described in the section <i>Create a user account</i>
      	</li>
      	<li style="list-style-type: decimal">Click <b>save profile</b>.</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Create a user account</b>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: decimal">At the list of portal users or non-portal users, click <b>add user</b>. A blank user account page appears.</li>
      	<li style="list-style-type: decimal">Provide the first name, last name, email, and phone numbers in the corresponding fields.
      	</li>
      	<li style="list-style-type: decimal">Select the <b>Time Zone</b> from the drop-down list.</li>
      	<li style="list-style-type: decimal">At the <b>Roles</b> area, select a role to assign to the user.</li>
      	<li style="list-style-type: decimal">For a portal user, the system displays a check box for <i>Active</i> at the <b>Status</b> area. Uncheck <i>Active
      	</i> to remove the user’s access from the portal.</li>
      	<li style="list-style-type: decimal">For a portal user, the system displays the check box to acknowledge the Sungard AS Safe Harbor Privacy Policy and Privacy Statement. Be sure to select this check box.</li>
      	<p>For a non-portal user, the system displays a check box for <i>non-portal user</i> in the <b>Status</b> area. Select the check box to keep the user’s status as <i>non-portal user</i>.</p>
      	<li style="list-style-type: decimal">Click <b>Save Profile<b>.</li>
      	<p>After a successful submission, the system sends an email to the provided email address with instructions to confirm the account and create an account password.</p>
      	<p>If the account is not confirmed, the new user will not have access to the portal.</p>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Edit a user’s account</b>
      <p>At the list of portal users or non-portal users, click the user’s <b>Last Name</b> to display the corresponding user record.</p>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: decimal">Provide the first name, last name, email, country code, and business phone number in the corresponding fields.  </li>
      	<li style="list-style-type: decimal">Select the <b>Time Zone</b> from the drop-down list.</li>
      	<li style="list-style-type: decimal">At the <b>Roles</b> area, select a role to assign to the user.</li>
      	<li style="list-style-type: decimal">For a portal user: To remove a user’s access from the portal, uncheck <i>Active</i> at the <b>Status</b> area.</li>
      	<p>For a non-portal user: To enable access to the portal, uncheck <i>non-portal user</i> at the <b>Status</b> area </p>
      	<li style="list-style-type: decimal">For a portal user, select the check box to acknowledge the Sungard AS Safe Harbor Privacy Policy and the Privacy Statement</li>
      	<li style="list-style-type: decimal">Click <b>Save Profile</b>.</li>
      	<li style="list-style-type: decimal">Click the <b>back</b> button to return to the list.</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Create contacts</b>
      <p>A contact is a user who cannot log into the portal but can be named on a ticket or can receive notifications.</p>
      <p>To create a contact:</p>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: decimal">At the portal users page, click <b>non-portal users</b>.</li>
      	<li style="list-style-type: decimal">Add contacts in the same way as you would add “regular” users.  </li>
      	<li style="list-style-type: decimal">Click <b>add user</b> and follow the procedure to create a user account.</li>
      </ul>
  </div>
</div>

