<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Command Runner also requires an RSA token for OAMP access.</b>
      <ol style="padding-left: 15px;">
      	<p>For customers who need an RSA token:<p>
      	<li style="list-style-type: decimal"> Create a ServiceNow ticket (Request Assistance).
      	<li style="list-style-type: decimal"> At the Request Assistance form, select the following:
        <ul style="padding-left: 25px;">
          <li style="list-style-type: disc">Security Services
          <li style="list-style-type: disc">Managed Two Factor Authentication - Add User
        </ul>
        <li style="list-style-type: decimal">Complete the other fields, as necessary.
        <li style="list-style-type: decimal">Assign the ticket to NASH Security Services.
        Explain that the RSA token is for Command Runner access.
        Include the user, user email address, and contact phone number.
      </ol>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Scheduling a change command</b>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: circle">This feature only supports the Cisco ASA Firewall.
      	<li style="list-style-type: circle">The system only allows users to schedule ONE change within 24 hours
      	<li style="list-style-type: circle">The system only allows users to schedule changes within 5 days.
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>The <b>Command</b> area contains the settings for scheduling a change command.</p>
      <ol style= "padding-left: 15px;">
        <p> To schedule a change command:</p>
        <li style="list-style-type: decimal">Specify the date and time using the date and time icons.
        <li style="list-style-type: decimal">Select a <b>Rule Type </b>(Accept or Deny).
        <li style="list-style-type: decimal">Specify the following:
        <ul style="padding-left: 25px;"> 
          <li style="list-style-type: disc"> <b>Group Policy Name</b>
          <li style="list-style-type: disc"> <b>Source</b> (IP Address or Object Name)
          <li style="list-style-type: disc"> <b>Destination</b> (IP Address or Object Name)
          <li style="list-style-type: disc"> <b>Service </b>(Port Number or Service Object Name)
        </ul>  
        <li style="list-style-type: decimal">Select the check box to acknowledge your authorization to make the firewall change.
        <li style="list-style-type: decimal">Press <b>Submit.</b>
      </ol>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p><b>View scheduled change commands.</b></p>    
        <p>The <b>Scheduled</b> area displays the change commands that you have scheduled.
        To view information about the scheduled change, hover over the ticket number and
        press the information icon that appears.<p>
        <p>The <b>History</b> area displays a list of scheduled change commands that have occurred.
        To view information about the command that ran, hover over the ticket number and press the information icon that appears.</p>
  </div>
</div>
