<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Commands are device specific</b>
      <ul style="padding-left: 15px;">
      	<li style="list-style-type: circle">Choose a command from the <i>Select Command</i> dropdown.
      	<li style="list-style-type: circle">Enter parameter if required
      	<li style="list-style-type: circle">Click the <i>Run</i> button
      </ul>
  </div>
</div>
