<div class="row">
  <div class="about-popover-module">
  <div class="about-section-header"><span>DNS management</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p> Note: DNS requires authorization, based on the following roles:</p>
      <ul>
        <li style="list-style-type: disc"><i>DNS REPORTER</i>: Provides read-only access to DNS zone data and audit logs.
        <li style="list-style-type: disc"><i>DNS ENGINEER</i>: Provides full management rights to make and/or request changes to your DNS zones.
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View zones</b>
      <p>All zones assigned to your company are displayed at the left area of the interface. Use the search field to search for a zone by hostname. You can also scroll through the list to select a zone.</p>
      <p>Color codes:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc">Any zone highlighted in red indicates that the zone has been disabled and will be permanently deleted after 60 days of the original date of the request.
        <li style="list-style-type: disc">Slave zones are colored in orange.
      </ul>
      <p>Click a zone to display the zone data, including the SOA record and all associated resource records.</p>
      <p>The records list displays the attributes for each zone record: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc"><b>Type.</b> Available record types include a, aaaa, cname, dname, mx, srv, txt
        <li style="list-style-type: disc"><b>Host.</b> The domain name for which this record is valid
        <li style="list-style-type: disc"><b>Data.</b> Mapped to value
        <li style="list-style-type: disc"><b>TTL.</b> Time To Live value
        <li style="list-style-type: disc"><b>Priority.</b> The priority of the target host
        <li style="list-style-type: disc"><b>Weight.</b> A relative weight for records with the same priority for SRV records
        <li style="list-style-type: disc"><b>Port.</b> The TCP or UDP port for SRV records
      </ul>
      <p>By default, the records are displayed in order of record type.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Request a new zone</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click <b>request add zone.</b></li>
        <li style="list-style-type: decimal">Type the name for the new <b>Zone.</b>
        </li>
        <li style="list-style-type: decimal">Select the <b>Zone Type.</b></li>
        <li style="list-style-type: decimal">Provide any <b>Notes</b> about the zone setup if necessary.</li>
        <li style="list-style-type: decimal">Click <b>request zone.</b></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Edit zone requests</b>
      <p>To request changes or the removal of an existing zone, click the zone's edit icon at the SOA section. The zone name and company are pre-populated. You will only need to:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Provide specific instructions in the <b>Notes field.</b></li>
        <li style="list-style-type: decimal">Click <b>request zone.</b>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Add records to an existing zone</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click <b>add</b> at the desired zone.</li>
        <li style="list-style-type: decimal">Select the record type
        </li>
        <li style="list-style-type: decimal">Provide the data fields based on the record type, which may include:</li>
          <ul style="padding-left: 15px;">
            <li style="list-style-type: disc">Hostname
            <li style="list-style-type: disc">Data
            <li style="list-style-type: disc">TTL
            <li style="list-style-type: disc">Priority
            <li style="list-style-type: disc">Weight
          </ul>
        <li style="list-style-type: decimal">Click <b>Submit</b></li>
      </ul>
      <p>Records, which are added successfully, are displayed in the records list, highlighted in blue.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Edit records</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click the edit icon on the desired record in the row. This displays the row, highlighted in yellow.</li>
        <li style="list-style-type: decimal">Modify the data fields based on the record type.</li>
        <li style="list-style-type: decimal">Click the save icon.</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View audit logs</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click the <b>audit log</b> button.</li>
        <p>The Audit Log list displays the date, user email, action applied, record affected, zone affected with serial number (in parenthesis), and the company name.</p>
        <li style="list-style-type: decimal">At the header of the list, you can:</li>
          <ul style="padding-left: 15px;">
            <li style="list-style-type: disc">Display the log entries for a specified date range.
            <li style="list-style-type: disc">Filter the entries by action (Create, Edit, Delete).
            <li style="list-style-type: disc">Search entries for specific records, zones, and by company
          </ul>
        <li style="list-style-type: decimal">To export the device data, click the download icon. This generates a comma-separated (CSV) file and displays a dialog box to open or save the exported file.</li>
      </ul>
  </div>
</div>

