<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Ehealth</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>From Environment tab select “Environment Health”
      Viewpoint provides a snapshot of your current environment health.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Environment Health</b>
      <p>Displays an overall health status of active assets.
      The monitoring system returns the status for each asset type, then aggregates data into the overall health score.
      There are two views available for overall health; per system defined Asset Types or per customer defined Groups.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Events</b>
      <p>Displays the total Critical, Error, Warning, and Informational event counts over a one week or one month period.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Ticketing</b>
      <p>For each category of tickets (Incidents, Request, Change) the number of tickets are grouped into three time frames:</p>
      <ul>
      <li>Previous 30 days
      <li>Current Active Tickets
      <li>Future Tickets occurring in the next 30 days for Change Requests
      </ul>  
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Active Assets</b>
      <p>Displays information on each active asset:</p>
      <ul>
      <li>Current health status (Healthy, Critical, Error, Warning)
      <li>Host name
      <li>Event counts (Incident, Change, Maintenance Windows)
      <li>Availability for the last 7 days (%)
      </ul>
      <p>From the Active Asset table, clicking a device host name will open its Device Profile page.</p>
    </ul>
    </div>
  </div>
</div>
