<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Event Subscriptions</span></div>
    <div class="about-section-item about-section-bottom-line">
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>You can name and schedule a notification to appear if a certain severity
      level appears. All can be placed on either "everything" or "selective" assets of your choosing.<p>
      <p>Severity levels of:<p>
        <ul>
          <li>clear
          <li>debug,
          <li>info
          <li>warning
          <li>error
          <li>critical
        <ul>
    </div>
  </div>
</div>
