<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Groups</span></div>
  </div>
</div><div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Search groups</b>
      <p>Use the filter under the <b>Name</b> column to search for a group. The results will auto-filter when you type search terms into the field.</p>        
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Create a group</b>
    <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click <b>add group</b></li>
    <p>There are three options for adding assets to a group:</p>
    <ul style="padding-left: 25px;">
          <li style="list-style-type: disc">At the right pane, select the checkboxes of assets in the list and press <b>add selected</b> to move the assets to the left pane</li>
          <li style="list-style-type: disc">Click <b>add</b> all to select all assets.</li>
      <li style="list-style-type: disc">Assets from an existing group can be added by selecting an existing group from the <b>Load existing group</b> drop-down list.</li>
        </ul> 
        <li style="list-style-type: decimal">Type a <b>Group Name</b>.</li>
        <li style="list-style-type: decimal">Select the <b>save group</b> option.</li>
    <li style="list-style-type: decimal">Click <b>save</b>.</li>
    <li style="list-style-type: decimal">Click <b>back</b> to return to the groups list.</li>
      </ul>
      <p>The created group will appear in the list in alphabetical order by the group name.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Modify a group</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">At the list of groups, click a group name.</li>
        <li style="list-style-type: decimal">Make changes as necessary. You can change the following items:</li>
        <ul style="padding-left: 25px;">
          <li style="list-style-type: disc">Group name (group names cannot be changed if active subscriptions are in place)</li>
          <li style="list-style-type: disc">Assets</li>
        </ul>  
      <p>Note:</p>
      <ul style="padding-left: 25px;">
        <li style="list-style-type: disc">You can search assets using the search field.</li>
        <li style="list-style-type: disc">You can sort assets by clicking the up-down arrow at the column header.</li>
      </ul>
      <li style="list-style-type: decimal">Select the <b>save group</b> option.</li>
      <li style="list-style-type: decimal">Click <b>save</b>.</li>
      <li style="list-style-type: decimal">Click <b>back</b> to return to the list of groups.</li>
      </ul>
    </div>
  </div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Copy an existing group</b>
    <p>You can create a new group based on an existing group. To do this:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">At the list of groups, click a group name to open its page.</li>
        <li style="list-style-type: decimal">At the group name field, change the group name (group names cannot be copied if active subscriptions are in place).</li>
    <li style="list-style-type: decimal">At the right pane, select an existing group from the <b>Load existing group</b> drop-down box.</li>
    <li style="list-style-type: decimal">For the new group, change the asset list as necessary. For example, you can add assets from the existing group you specified. At the right pane, do one of the following to find an asset:</li>
    <ul style="padding-left: 25px;">
      <li style="list-style-type: disc">Filter the asset list by <b>Name, Type, IP</b>, and <b>Location</b></li>
      <li style="list-style-type: disc">Select an asset from the list and click <b>add selected</b>. You can also select all the assets and click <b>add all</b></li>
    </ul>
    <li style="list-style-type: decimal">Select the <b>Save group as</b> option.</li>
    <li style="list-style-type: decimal">Click <b>save</b>.</li>
    <li style="list-style-type: decimal">Click <b>back</b> to return to the groups list.</li>
      </ul>
    </div>
  </div>  

