<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Interfaces</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Interfaces shows an inventory of Managed Internet Ports and their utilization.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>From the list view, you can Sort, Search and Limit the devices.</p>
      <p>Sort: Click on any arrow in the column header to sort by the column
      contents in ascending or descending order.</p>
      <p>Search: Using the textbox enter text to search through the list of
      interfaces. The search will return matches across any of the visible data in the list.</p>
      <p>Limit: Increase or decrease the number of interfaces in your list
      using the Show Entries dropdown. 10, 25, 50 or 100 are the count options.</p>
      <p>By clicking on any interface you can view interface graphs for:</p>
      <ul>
       <li>Throughput
       <li>Packets
       <li>Errors
       <li>Discards
      </ul>
      <p>Graphs can have the data date range changed to:
      <ul>
       <li>Hourly
       <li>Daily
       <li>Weekly
       <li>Monthly
       <li>Yearly
      </ul>
      <p>You can also fine tune the data date range by clicking the minus(-) or plus(+)
      sign in the top right corner of each graph.</p>
    </div>
  </div>
</div>
