<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>REPORTS</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>You can use <b>Reports</b> to view various performance metrics of Sungard AS managed assets, generate reports on demand, or schedule reports for delivery through email.</p>
      <p>You can browse default reports and generate custom reports.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">
      <b><u>Browse reports</u></b>    
      <p>To access default reports, click <b>Browse Reports</b> and select the report you want to view.
      </p>
      <p>You can also access static reports for Usage & Billing and eHealth.
      </p>
      <p><b>Usage and Billing</b>: Download these monthly reports to view internet usage data.
      </p>
      <p><b>eHealth Reports</b>: If you have previously used eHealth for reporting, you can access any of your generated reports in CSV or PDF format.
      </p>  
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">
      <b><u>Generate custom reports</u></b>    
      <p>To generate custom reports as per your requirements, click <b>+ Custom Report</b>. In the Custom Report window, select the report type and specify necessary details.
      </p>
      <p>Depending on the type of report you select, you must specify the following additional details: </p>
      <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid; padding-left: 10px;"><b>Report Type</b></th>
          <th style="border: 1px solid; padding-left: 10px;"><b>Additional fields</b></th>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Availability</td>
          <td style="border: 1px solid; padding-left: 10px;  padding-right: : 4px;" rowspan="4">Report Type (PDF/XLS)</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Device Availability</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Network Availability</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Power Availability</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Health report/Device detail</td>
          <td style="border: 1px solid; padding-left: 10px;" rowspan="2"><p>Group</p><p>Device</p></td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Network Interface</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Raw Polled Performance</td>
          <td style="border: 1px solid; padding-left: 10px;">Device</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">Network Usage</td>
          <td style="border: 1px solid; padding-left: 10px;">NA</td>
        </tr>
      </table>
      <p>To generate custom report, you must follow these steps: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal ">Click <b>+ Custom Report.</b>
        <li style="list-style-type: decimal ">Select a report from the <b>Reports</b> drop-down list. 
        <li style="list-style-type: decimal ">Depending on the type of report you have selected, you must enter a value in the additional fields. For details, refer the table about additional fields.
        <li style="list-style-type: decimal ">Specify the date range or the periodic frequency to generate the report.

        <p>To specify a date range to generate the custom report: </p>
        <ul style="padding-left: 15px;">
          <li style="list-style-type: lower-alpha ">Select the <b>Select Date Range</b> radio button.</b>
          <li style="list-style-type: lower-alpha ">Select the start and end date and time.
          <li style="list-style-type: lower-alpha ">Email ID of the current user is displayed. Email is sent to the current user’s email ID unless changed.        
        </ul>
        <p><b><i>-or-</i></b></p>
        <p>To receive custom reports on a regular basis, you must specify the schedule for the system to deliver the report:</p>
        <ul style="padding-left: 15px;">
          <li style="list-style-type: lower-alpha ">Select the <b>Schedule Periodic Delivery</b> radio button.
          <li style="list-style-type: lower-alpha ">Select the frequency of delivering the report. You can select <b>Daily</b>, <b>Weekly</b> or <b>Monthly</b> frequency.
          <li style="list-style-type: lower-alpha ">Select a suitable time to generate and deliver the custom report.
          <li style="list-style-type: lower-alpha ">Select your time zone.
          <li style="list-style-type: lower-alpha ">Email ID of the current user is displayed. Email is sent to the current user’s email ID unless changed.
        </ul>
        <li style="list-style-type: decimal ">Click <b>Submit.</b>
      </ul>
    </div> 
  </div>
</div>