<!-- put this below code inside the <div class="content"> </div> container -->

<div>
    <h4>Environment — Interfaces</h4>
    <p class="bottomLine">
        A Managed Services tool that displays a list of
        managed and configured interfaces.
    </p>

</div>
<div class="interfaces-info-content">

    <h4>Subheader Bar</h4>
    <img class="interfaces-subheader-info"/>

    <!-- <h4>Table Columns</h4>
    <h5>Column Naming</h5>
    <ul class="status-list">
        <li>
            <p>
                <span>Name</span>
                Displays ...
            </p>
        </li>
        <li>
            <p>
                <span>Interface</span>
                Displays ...
            </p>
        </li>
        <li>
            <p>
                <span>Description</span>
                Explains ...
            </p>
        </li>
        <li>
            <p>
                <span>Internet</span>
                Displays ...
            </p>
        </li>
        <li>
            <p>
                <span>Network Name</span>
                Displays ...
            </p>
        </li>
        <li>
            <p>
                <span>Company</span>
                Displays ...
            </p>
        </li>
    </ul> -->

    <!-- <p>NAME – Displays ... need help filling in</p>
    <p>INTERFACE – Displays ... need help filling in</p>
    <p>DESCRIPTION – Explains ... need help filling in</p>
    <p>INTERNET – Displays ... need help filling in</p>
    <p>NETWORK NAME – Displays ... need help filling in</p>
    <p>COMPANY – Displays each devices company use allocation, if applicable.</p> -->

    <h4>Table Filtering</h4>
    <h5>Sorting Arrows</h5>
     <p>The table loads alphabetically sorted by the <span class="bold-item">'Device Name'</span> column.
        <span class="bold-item">Press the arrows </span> for an ascending or descending sort.
        <span class="bold-item">Refreshing the browser</span> will reset the page sort.
    </p>

    <h5>Search Input</h5>
    <p>Press the search field and begin typing.
        Each character typed filters the data displayed. Press
        the <span class="clear-x">x</span> to
        <span class="bold-item">'Clear Search'</span>.
    </p>
    <img class = "interfaces-search-info"/>

    <h5>Dropdown Filter</h5>
    <p>Press the ALL or <span class="bold-item">'up/down'</span>
        arrows to reveal the dropdown selection popover. Select one or
        more (if checkboxes are present) items.
    </p>

    <p>Press the <span class="clear-x">x</span> to
        <span class="bold-item">'Reset to All'</span>.
    </p>

    <p>The dropdown selection default is<span class="bold-item">'All'</span>.</p>

    <p>Some dropdown text will appear truncated if their column width is narrower than
        the text. <span class="bold-item">'Multiple'</span> text appears if more
        than one checkbox is selected.
    </p>
    <img class = "interfaces-dropdown-info"/>

</div>