<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Servers</span>
    </div>
    <div class="about-section-item about-section-bottom-line">
      <p>You can view details of the servers that are included in the patch schedules.
      The Servers table displays the following information:
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc ">Server Name
        <li style="list-style-type: disc ">OS
        <li style="list-style-type: disc ">Patch Schedule
        <li style="list-style-type: disc ">Patch Policy
        <li style="list-style-type: disc ">State
      <p>Note that you cannot edit or delete these details.
      </p>
    </div>
  </div>
</div>
