<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Windows Policy Manager</span>
    </div>
    <div class="about-section-item about-section-bottom-line">
      <p>You can use the Windows Policy Manager feature to create policies for Windows servers. You can schedule policy on one-time or recurring (monthly) basis. Windows servers that have policies are available for patching schedule.</p>
      <p>To create a policy, the following patch selection rules are available. They are:
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">        
      <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid; padding-left: 10px;"><b>Windows Patch Selection Rule</b></th>
          <th style="border: 1px solid; padding-left: 10px;"><b>  
          Rule Description</b></th>
        </tr>        
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">All Windows Critical and Security Updates</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this rule to install only Windows OS specific critical and security patches on the respective Windows server.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">All Windows and All Applications</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this rule to install all Windows OS and application specific patches on the respective Windows server.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">All Windows Updates</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this rule to install all Windows OS specific patches on the respective Windows server.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">KB Numbers</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this rule to install the user specified knowledge base patch on the respective Windows Server. You have to use this rule as many times you want to install user specified knowledge base patch, as this is available for one time use only.</td>
        </tr>
      </table>
      <p>You can use the Windows Policy Manager feature to perform the following tasks: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc ">Create a new policy
        <li style="list-style-type: disc ">Add server to the existing policy 
        <li style="list-style-type: disc ">Remove servers from the existing policy
        <li style="list-style-type: disc ">Cancel a policy
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">
      <b><u>Creating Windows Policy</u></b>    
      <p>The <b>+Create New Policy</b> option enables you to create a new policy. You must fill in the following details to create a policy:
      </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc ">Name of the patching policy
        <li style="list-style-type: disc ">Description of the policy
        <li style="list-style-type: disc ">Frequency of the policy: one time or monthly
        <li style="list-style-type: disc ">(<i>For monthly policy</i>) Select a week and a day to apply the policy.
        <li style="list-style-type: disc ">(<i>For one-time policy</i>) The auto approval date for the policy and the date till updates are released
        <li style="list-style-type: disc ">A patch selection rule.
        <li style="list-style-type: disc ">(<i>For monthly policy</i>)An active start and end date.
        <li style="list-style-type: disc ">Add servers to the policy.
        <div style="padding-left: 15px;">
          <p><u>Adding server to policy</u>
          </p>
          <p>Servers which are in scope of scheduling shouldn’t be part of any other active schedules.</p>
          <ul style="padding-left: 15px;">
            <li style="list-style-type: decimal">Click <b>Add Servers to Policy</b>. On the Servers to Policy window, select the servers you want to add and then click Save.
            <li style="list-style-type: decimal">Save the details. The policy is created and listed in the Windows Policy Manager table.
        </div>
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Adding servers to existing policy</u></b>    
      <p>You can add servers to the existing policies. Note that the servers you want to add should not be associated with any other policy.
      </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal ">On the Windows Policy Manager table, click <b>Update</b> for the policy to which you want to add servers.
        <li style="list-style-type: decimal ">Click <b>Add Servers to Policy</b> and select the servers to add to the existing policy.
        <li style="list-style-type: decimal ">Click <b>Save</b> and then click <b>Update</b> to add the servers to the policy.
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Removing servers from policy</u></b>    
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal ">On the Windows Policy Manager table, click <b>Update</b> for the policy from which you want to remove servers.
        <li style="list-style-type: decimal ">Click <b>Remove Servers from Policy</b>. Clear the check boxes for the servers you want to remove from the existing policy.
        <li style="list-style-type: decimal ">Click <b>Save</b> and then click <b>Update</b> to update the policy.
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Cancelling a policy</u></b>    
      <p>You can cancel a policy that is scheduled for maintenance. You can cancel a policy only if the servers associated with that policy are not part of any active schedules.</p>
      <p>You can cancel a policy up to 30 minutes prior to the start of the schedule. For example, if the policy is scheduled for execution at 4.00 pm, you can cancel the policy up to 3.30 pm. In the <b>Action</b> column of the <b>Windows Policy Manager</b> table, the <b>Delete</b> button is not available for the policy 30 minutes prior to the start of the schedule.</p>
      <p>In the <b>Windows Policy Manager</b> table, click <b>Delete</b> for the policy you want to delete, and confirm your deletion.</p>
    </div> 
  </div>
</div>