<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Launchboard</span></div>
    
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>Launchboard is your default dashboard, which displays 	ticket-related information, a summary of your asset health, and links to the main components of the portal.
      </p>
		<p>Launchboard consists of the following widgets: 
		</p>
		<ul style="padding-left: 20px;">
	       <li style="list-style-type: disc"><b>Quick Links
	       <li style="list-style-type: disc"><b>Self-Service QuickLinks
	       <li style="list-style-type: disc"><b>Recent Assets
	       <li style="list-style-type: disc"><b>Ticket Statistics
	       <li style="list-style-type: disc"><b>Asset Health
	       <li style="list-style-type: disc"><b>Tickets
	     </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Quick Links</h5>
      </p>
		<p>
			<b>Quick Links</b> displays links for the following components: 
		</p>
		<ul style="padding-left: 20px;">
	       <li style="list-style-type: disc"><b>Devices.</b> Provides access to the full device list and detailed device profile.
	       <li style="list-style-type: disc"><b>Events.</b> Provides access to information captured in monitoring a specific device.
	       <li style="list-style-type: disc"><b>Interfaces.</b> Provides an inventory of Managed Internet Ports and their utilization.
	       <li style="list-style-type: disc"><b>User Guide.</b> Click to access the Managed Services Portal User Guide.
	     </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Self-Service Quick Links</h5>
      </p>
		<p>
			<b>Self-Service Quick Links</b> provides quick access to information about each of the following items:
		</p>
		<p>
			<b>Note:</b> If a button is disabled ("greyed out"), it indicates that you do not have authorization to use the feature. The Secure Site Access button is available only to users with Grant Site Access authorization in the ServiceNow system.
		</p>
		<ul style="padding-left: 20px;">
	       <li style="list-style-type: disc"><b>Notification Matrix.</b> Provides access to the Notification Matrix Management context menu in the ServiceNow system. The Notification Matrix page displays the information pertaining to the notification rules you have created to receive triggers from the ServiceNow system.
	       <li style="list-style-type: disc"><b>Secure Site Access.</b> Displays the Secure Site Access form in the ServiceNow system. Use this form to request access to the Sungard AS data center.
	       <li style="list-style-type: disc"><b>Authorization Management.</b> Provides access to the authorization matrix in the ServiceNow system. The Authorization Management page displays the user account privileges and also lets you grant/revoke authorization privileges in the ServiceNow system.
	       <li style="list-style-type: disc"><b>Reports.</b> Displays different types of reports. You can invoke billing report, usage report, or backup report. Billing report is available in csv or text formats. Usage report is available in PDF or text formats. Backup report is available in csv or pdf formats.
	       <li style="list-style-type: disc"><b>DNS Management.</b> Navigates you to the DNS page. View the DNS zones assigned to your company and DNS zone related information.
	       <li style="list-style-type: disc"><b>ServiceNow Ticketing.</b> Enables you to create a new ticket or view the status of an existing ticket.
	     </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Recent Assets</h5>
      </p>
		<p>
			<b>Recent Assets</b> provides a list of up to the latest 20 devices previously viewed and the approximate viewing timeline. 
		</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Ticket Statistics</h5>
      </p>
		<p>The <b>Ticket Statistics</b> widget provides a list of active and closed ticket counts (incidents, requests, or change requests) for the past 7 days. You can switch the view to yesterday’s tickets or tickets from last 30 days by selecting Last 30 Days or Yesterday from the drop-down list at the top-right corner of the widget.
		</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Asset Health</h5>
      </p>
		<p>
			<b>Asset Health</b> displays the current environment health along with an in-depth overview of asset health by device types. You can switch the view in this widget by selecting Assets or Groups from the drop-down list at the top-right corner.
		</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<h5>Tickets</h5>
      </p>
		<p>The <b>Tickets</b> widget provides:
		</p>
		<ul style="padding-left: 20px;">
	       <li style="list-style-type: disc">A list of active and closed tickets for the last 7 days
	       <li style="list-style-type: disc">The ability to search and sort the list
	     </ul>
	     <p>By default, the <b>Tickets</b> widget shows all incidents; but you can filter the widget to a specific type by clicking the applicable radio button in the <b>Ticket Statistics</b> widget. Click a ticket number in the <b>Tickets</b> widget to open the ticket in the ServiceNow system.
		</p>
    </div>
  </div>
</div>