
<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Ticket landing</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Ticket landing is your default dashboard, which consists of the following widgets:
      </br>
       <b>Quick Links</b> displays links for the following components:
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item">
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
      	<tr>
      		<td> <b>Devices <b></td>
            <td style="padding-left: 20px">Click to access to the full device list and detailed device profile.</td>
        </tr>
      </p> 
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
      	<tr>
      		<td><b>Events</b></td>
      	<td style="padding-left: 25px">Click to access information captured in monitoring a specific device.</td>
        </tr>
      </p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
      	<tr>
      		<td><b>Reports</b></td>	 
      	    <td style="padding-left: 21px">Click to: 
      	      <ul style="padding-left: 32px;">
      	  	    <li style="list-style-type: disc">Access performance metrics for Sungard AS managed assets
      	  	    </li>
      	  	    <li style="list-style-type: disc">Access controls to generate on-demand and scheduled reports </li>
              </ul>
             </td>  
      </p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
      	<tr>
      		<td><b>DNS</b></td>
      	    <td style="padding-left: 31px">Click to manage DNS.</td>
      	</tr>
      </p>
      <p style = "border-bottom: 1px solid rgba(66,110,155,.25)">
      	<tr>
      		<td><b>User Guide</b></td>
      	<td style="padding-left: 5px">Click to access the <i>Managed Services Portal User Guide</i>.</td>
		<tr>      
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>
      	<b>Ticket Statistics</b> provides a list of active and closed ticket counts for the past 30 days.
      </p>
      </br>
      <p>
      	<b>Asset Health</b> displays the current environment health and an overview of asset health by device type. At the drop-down box, you can switch the view by selecting <i>Asset Type</i> or <i>Groups</i>.
      </p>
      </br>
      <p>
      	<b>Recent Assets</b> provides a list of up to the latest 20 devices previously viewed.
      </p>
      </br>
       <p><b>Tickets</b> displays a list of active and closed tickets for the last 30 days. You can:</p>
       <ul style="padding-left: 20px;">
       	<li style="list-style-type: disc"> Search for tickets using the search fields at the column headings </li>
       	<li style="list-style-type: disc"> Sort tickets by clicking the up-down arrow at the column headings </li>
       </ul>
       </br>
       <p>By default, the <b>Tickets</b> widget shows all incidents, requests, and changes; but you can filter the widget to a specific type by clicking the applicable radio button in the <b>Ticket Statistics</b> widget.
       Click a ticket number in the <b>Tickets</b> widget to open in the ticketing application.
	   <p>
    </div>
  </div>
</div>