<table class="grid">
  <thead>
    <tr>
      <th>Title</th>
      <th>Menu Choice</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @helps.each do |help| %>
    <tr>
      <td><%= help.title %></td>
      <td><%= menu_name(help.menu_id) %></td>
      <td><%= truncate help.body, :length => 60 %></td>
      <td><%= link_to 'Show', help_path(help) %></td>
    </tr>
  <% end %>
  </tbody>
</table>