<div id="login" style="width:430px;">
	<div class="dialog">
		<h3>Oops! Something went wrong!</h3>
		<p>
			Sorry, the server is too busy to handle your request, please try again in a moment or go back to our <strong><%= link_to "Home Page", "/my_board" %></strong>. 
		</p>
	</div>
</div>