<div id="login" style="width:430px;">
	<div class="dialog">
		<h3>The page you are looking for doesn't exist.</h3>
		<p>
			You may have mistyped the address or the page may have moved. Please go back to our <strong><%= link_to "Home Page", "/my_board" %></strong> and try again. 
		</p>
	</div>
</div>