<div id="login" style="width:430px;">
	<div class="dialog">
		<h3>The change you wanted was rejected.</h3>
		<p>
			The change you wanted was rejected. Maybe you tried to change something you didn't have access to. Please go back to our <strong><%= link_to "Home Page", "/my_board" %></strong> and try again. 
		</p>
	</div>
</div>



