<% path = reqs_path %>
<% if @reqs %>
	<h2>subscriptions</h2>
<% else %>
	<% if @req.new_record? %>
	  <h2>custom report</h2>
	  <% path = reports_path %>
	<% else %>
		<h2>subscriptions</h2>
	<% end %> 
	<%= link_to 'back', '/ui/index.html#/reports', :class => 'button' %>
<% end %>