<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('event_subscriptions').start();
     //Set the selected page as events
     window.C.page = "ms-report-subscription";
  })

<% end %>

<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Report</th>
    <th>Email</th>
    <th>Delivery Time</th>
    <th>Device</th>
    <th>Group</th>
    <th>Area</th>
    <th>Cabinet</th>
    <th>Frequency</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @reqs.blank? %>
    <tr><td colspan="10"><div class="nodata">No data available in table</td></tr>
  <% else %>
    <% @reqs.each do |req| %>
      <tr>
        <td><%= link_to req.report_name, edit_req_path(req)  %>
        <td><%= req.email %></td>
        <td><%= req.delivery_time %></td>
        <% if (["1","2","15","17"].include?(req.report_id)) %>
          <td><%= get_device_name(req.device_guid) %></td>
          <td><%= get_group_name(req.group_guid) %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>      
        <td><%= req.area %></td>
        <td><%= req.cabinet %></td>
        <td class="delete"  style="width: 1%;"><%= button_to '&times;'.html_safe, req, :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to delete this report subscription?')"} %></td>
        <td><%= req.frequency %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>
