<% if @dat.empty? %>
  <tr><td colspan="2"><td>No records found</td></tr>
<% else %>
  <% @dat.each do |d| %>
    <tr>
      <td><%= link_to d.name, device_path(id: d.asset_guid)%></td>
      <td><%= (d.customer_production_ip.present? and d.customer_production_ip.match(@query_param)) ? d.customer_production_ip : d.ip_address_formatted %></td>
    </tr>
  <% end %>
<% end %>