<div>
  <%= form_for @dashboard do |f| %>
  <table style="border-spacing: 1em; width: 50%;">
    <tr>
      <td colspan="2">
        <%= f.label :name %>
        <%= f.text_field  :name %>
      </td>
    </tr>
    <!--tr>
      <td>
        <%= f.label :description %>
        <%= f.text_field  :description %>
      </td>
    </tr-->
    <tr>
      <td>
        <%= f.label :default %>  
        <%= f.select :default, [["True", "true"], ["False", "false"]], :class => 'auto_width' %>
      </td>
      <td>
      </td>
    </tr>
    <!--tr>
      <td>
        <%= f.label :graphs %>
        <%= f.text_field  :graphs %>
      </td>
    </tr-->

    <tr>
      <td colspan="2">
        <%= f.submit %>
      </td>
    </tr>
  </table>
  <% end %>
</div>