<% if @toolname == 'show' %>
<%= link_to '', new_dashboard_path(@dashboard), :class => 'add button add_dashboard' %>
<% my_dashboards = load_my_dashboards %>
<h2 class="button" id="dashboard_select_list">
	<div class="expand"><b class="here"><%= @dashboard.name %></b>
		<ul>	        
	        <% my_dashboards.each do |db| %>
	          <%# if db.default? %> 
	            <%# name = "Default - #{db.name}" %>
	          <%# else %>
	            <% name = "#{db.name}" %>
	          <%# end %>
	          <li><b ><%= link_to(name, db) %></b></li>
	        <% end %>	        
	        <li class="exclude"><b class="settings_button"><%= link_to 'manage dashboards', dashboards_path %></b></li>
		</ul>
	</div>
</h2>
<h2 id="dashboard_select_numbers" class="position"><!--
  <% my_dashboards.each_with_index do |dashboard, index| %>
	<%= link_to "", dashboard %>
  <% end %>	-->
</h2>
<h2></h2>
<!-- h2 class="add button add_graph">add graph</h2 -->
<%= link_to 'add graph', new_graph_path( :dash_id => @dashboard.id.to_s), :class => 'add_graph add button' %>

<% else %>
<h2>dashboard<%= @toolname %></h2>
<% end %>
