<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('dashboards').start();
  })
<% end %>

<div style="padding:1em;">
	<%= render "form" %>
</div>
