  <div class="group_picker">

    <div class="group_picker_head">
      
      <div class="load_group">
        <select name="groups">
          <option>Load existing group...</option>
        </select>
      </div>

      <div class="load_patchables">
        <!-- select>
          <option>Load by patch...</option>
          <option>group 1</option>
          <option>group 2</option>
          <option>group 3</option>
          <option>group 4</option>
        </select -->
      </div>
      
      <div class="show_ignored">
        <!-- input type="checkbox" checked=""> hide ignored -->
      </div>

    </div><!-- /group picker head -->

    <div class="group_table">

      <table class="group_table_head grid">
        <thead class="sync_columns_head">
          <tr class="col_sizing">
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col3"></td>
            <td class="col4"></td>
            <td class="col5" style="padding-right: 28px;"></td>
          </tr>
          <tr id="sort" class="label-row">
            <th class="check"><div id='check_all'><input type="checkbox" name="select_all" ></div></th>
            <th class="text sort" data-sortby="name" ><div>Name</div><div class="arrows"></div></th>
            <th class="text sort" data-sortby="type" ><div>Type</div><div class="arrows"></div></th>
            <th class="text sort" data-sortby="ip_address"><div>IP</div><div class="arrows"></div></th>
            <th class="text sort" data-sortby="location"><div>Location</div><div class="arrows"></div></th>
            <!-- th class="delete col6"><div style="width: 21px;">&nbsp;</div></th -->
          </tr>
          <tr class="filter-row">
            <th class="check"><div id='check_all'></div></th>
            <th class="text"><div><input type="text" class="text_search_filter clearable" name="device_name" /><span></span></div></th>
            <th class="text"><div><input type="text" class="text_search_filter clearable" name="type" /><span></span></div></th>
            <th class="text"><div><input type="text" class="text_search_filter clearable" name="ip_address_formatted" /><span></span></div></th>
            <th class="multi"><div><input type="text" class="text_search_filter clearable" name="location" /><span></span></div></th>
            <!-- th class="delete col6"><div style="width: 21px;">&nbsp;</div></th -->
          </tr>
        </thead>
      </table>
      <div class="ns_scroll">
        <table class="group_results_table grid">
          <thead>
            <tr class="col_sizing">
              <td class="col1"></td>
              <td class="col2"></td>
              <td class="col3"></td>
              <td class="col4"></td>
              <td class="col5"></td>
            </tr>
          </thead>
          <tbody class="group_results sync_columns_results">
          </tbody>
        </table>
      </div>

    </div><!-- /group table -->
  
    <div class="group_table_foot">
      <div>
        <div><button class="add_selected">add selected</button></div>
        <div><button class="add_all">add all</button></div>
        <div class="alert_icon"><!--! ignored assets not shown--></div>
      </div>
    </div>
  </div><!-- /group picker -->

