<% content_for :requirejs do %>
  require(['application/ticketing'], function(vp_ticketing){
	vp_ticketing.init();
  })
<% end %>
<div id="tick_dash">
	<div class="grid_col_1">
		<div class="module_container module_collapsible" id="tick_dash_my_tickets">
			<div class="module_header">
				<span class="module_header_primary">My Tickets</span>
				<span class="module_collapsible_icon"></span>
			</div>
			<div class="module_body">
				<ul class="module_menu">
					<li><a href="#"><span class="module_menu_text">My Open Incidents</span></a></li>
					<li><a href="#"><span class="module_menu_text">My Companies Tickets - All</span></a></li>
					<li><a href="#"><span class="module_menu_text">Ticket Aging</span></a></li>
				</ul>
			</div>
		</div>

		<div class="module_container module_collapsible" id="tick_dash_reports">
			<div class="module_header">
				<span class="module_header_primary">Reports</span>
				<span class="module_collapsible_icon"></span>
			</div>
			<div class="module_body">
				<ul class="module_menu">
					<li><a href="#"><span class="module_menu_text">Ticket Reports</span></a></li>
					<li><a href="#"><span class="module_menu_text">LILO Reports</span></a></li>
				</ul>
			</div>
		</div>

		<div class="module_container module_collapsible" id="tick_dash_administration">
			<div class="module_header">
				<span class="module_header_primary">Administration</span>
				<span class="module_collapsible_icon"></span>
			</div>
			<div class="module_body">
				<ul class="module_menu">
					<li><a href="#"><span class="module_menu_text">Authorization Management</span></a></li>
					<li><a href="#"><span class="module_menu_text">My Authorizations</span></a></li>
					<li><a href="#"><span class="module_menu_text">OS Patch Management</span></a></li>
					<li><a href="#"><span class="module_menu_text">Notifications Management</span></a></li>
					<li><a href="#"><span class="module_menu_text">Email Preferences</span></a></li>
				</ul>
				<a href="#" class="my_profile"><span class="my_profile_text">My Profile</span></a>
			</div>
		</div>

		<div class="module_container module_collapsible" id="tick_dash_help">
			<div class="module_header">
				<span class="module_header_primary">Documents & Help</span>
				<span class="module_collapsible_icon"></span>
			</div>
			<div class="module_body">
				<ul class="module_menu">
					<li><a href="#"><span class="module_menu_text">Knowledgebase</span></a></li>
					<li><a href="#"><span class="module_menu_text">Document Management</span></a></li>
				</ul>
			</div>
		</div>

	</div>
	<div class="grid_col_2">
		<div class="module_container" id="tick_dash_main">
			<div class="module_header">
				<span class="module_header_primary">Ticketing Home</span>
			</div>
			<div class="module_body">
				<div class="tick_dash_buttons">
					<a href="#" class="tick_dash_button">
						<div class="tick_dash_button_header"><img src="/assets/ticketing/report.png" class="tick_dash_button_icon tick_dash_button_report"></div>
						<div class="tick_dash_button_footer">Report an Incident</div>
					</a>
					<a href="#" class="tick_dash_button">
						<div class="tick_dash_button_header"><img src="/assets/ticketing/request.png" class="tick_dash_button_icon tick_dash_button_request"></div>
						<div class="tick_dash_button_footer">Need Help?</div>
					</a>
					<a href="#" class="tick_dash_button">
						<div class="tick_dash_button_header"><img src="/assets/ticketing/open_request.png" class="tick_dash_button_icon tick_dash_button_open_request"></div>
						<div class="tick_dash_button_footer">Request a Change</div>
					</a>
					<a href="#" class="tick_dash_button">
						<div class="tick_dash_button_header"><img src="/assets/ticketing/open_ticket.png" class="tick_dash_button_icon tick_dash_button_open_ticket"></div>
						<div class="tick_dash_button_footer">My Company's Open Tickets</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>