<% a_list = @event_subscription.asset_list %>
<% cmp_guid =  params["company_guid"].blank? ? current_user.company_guid : params["company_guid"] %>
<div id="event_notifications_form">

  <div  class="left_list">
    <div class="en_scroll_list">
      <%= event_table_for_company_assets(cmp_guid, a_list) %>
    </div>
  </div>

  <div class="middle_buttons">
    <button id="cl_right"></button>
    <button id="cl_left"></button>
  </div>    

  <div class="right_list">

    <%= form_for(@event_subscription) do |f| %>

      <% if @event_subscription.errors.any? %>
      <div class="error_messages">
        <div class="errors">
          <ul>
            <% for message in @event_subscription.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
        
      <div class="en_name">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.hidden_field :email %>
      </div>
          
      <div class="en_all_or_selective">
        Everything <%= f.radio_button :all_asset,"true" %> Selective <%= f.radio_button :all_asset,"false" %>
      </div>

      <div class="en_choices">

        <%= f.label :severity %>
        <select rel="@event_subscription" id="event_subscription_severity">
          <option value="6">All</option>
          <option value="0">Clear</option>
          <option value="1">Debug</option>
          <option value="2">Info</option>
          <option value="3">Warning</option>
          <option value="4">Error</option>
          <option value="5">Critical</option>
        </select> 
        <%= f.hidden_field :severity, :class => "subscription_severity" %>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>

      <div id="table_dest_wrapper">
        <%= label_tag "Asset list" %>    
        <div>
          <table id="table_dest" class="grid">
            <%= event_table_head_row %>
            <% if @event_subscription.new? %>
              <tbody></tbody>
            <% else %>
              <%= event_table_body_asset_list(a_list) %>
            <% end %>
          </table>
        </div>
      </div>

      <div class="en_submit">
        <%= hidden_field_tag "company_guid",  params[:company_guid] %>        
        <%= f.submit %>
      </div>

    <% end %>

  </div>

</div>