<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('event_subscriptions').start();
  })

<% end %>

<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th>Total Assets</th>
    <th>Severity</th>    
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% if @event_subscriptions.blank? %>
    <tr><td colspan="7"><div class="nodata">No data available in table</td></tr>
  <% else %>
      <% @event_subscriptions.each do |event_subscription| %>
      <tr>
        <td><%= link_to event_subscription.name,  edit_event_subscription_path(event_subscription, :company_guid => params["company_guid"]) %> </td>
        <td><%= event_subscription.email %> </td>
        <% if event_subscription.active %>
          <td class="active">Active</td>
        <% else %>
          <td class="inactive">Inactive</td>
        <% end %>
        <td><%= event_subscription.all_asset ? 'all' : event_subscription.asset_list.length %></td>
        <td>
          <% case event_subscription.severity
           when 0 %>
          Clear
          <% when 1 %>
          Debug
          <% when 2 %>
          Info
          <% when 3 %>
          Warning
          <% when 4 %>
          Error
          <% when 5 %>
          Critical
          <% else %>
          All 
          <% end %>
        </td>
         <td class="delete"  style="width: 1%;"><%= button_to '&times;'.html_safe, event_subscription_path(event_subscription, :company_guid => params["company_guid"]), :method => :delete, :class =>"text-only", form: { :onsubmit => "return confirm('Are you sure you want to delete this event notification?')"} %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
