<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
    app.module('event_subscriptions').start();
  })

<% end %>

<%= render 'form' %>
