<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
    app.module('event_subscriptions').start();
  })

<% end %>
<%= hidden_field_tag "company_guid",  @company_guid %>
<%= render "show" %>
