@mixin color_change($name, $color1: red, $color2: blue) {

  @-webkit-keyframes $name {
    0% { background-color: $color1; }
    80% { background-color: $color1; }
    100% { background-color: $color2; }
  }
  @-moz-keyframes $name {
    0% { background-color: $color1; }
    80% { background-color: $color1; }
    100% { background-color: $color2; }
  }
  @-ms-keyframes $name {
    0% { background-color: $color1; }
    80% { background-color: $color1; }
    100% { background-color: $color2; }
  }
  @-o-keyframes $name {
    0% { background-color: $color1; }
    80% { background-color: $color1; }
    100% { background-color: $color2; }
  }
  @keyframes $name {
    0% { background-color: $color1; }
    80% { background-color: $color1; }
    100% { background-color: $color2; }
  }

}

@mixin animation($name: false, $seconds: 1s, $runs: infinite, $direction: alternate) {
  // must have an animation name
  @if $name {
    -webkit-animation: $name $seconds $runs $direction;
    -moz-animation: $name $seconds $runs $direction;
    -ms-animation: $name $seconds $runs $direction;
    -o-animation: $name $seconds $runs $direction;
    animation: $name $seconds $runs $direction;
  } 

} 

// example
@include color_change($name: red_to_grey, $color1: #a80d0b, $color2: #666);

%do_red_to_grey {
  background-color: #a80d0b;
  @include animation($name: red_to_grey, $seconds: 4s, $runs: 1);
}
