/* Viewpoint
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require demo_table_jui
 */

// Variables

$text      : #85878c;  // body text color
$primary     : #263f66;  // primary color used in ui elements
$secondary  : #85878c; // secondary color used in ui elements
$core      : #997758;  // core color used in ui elements
$m       : 12px;   // body text size, used for base of most measurements
$icon      : 16px;   // grid unit size for sprite file
$hfont     : 'avenir_45_bookregular',"Century Gothic", sans-serif;

// All base smaller and body text, stylized font defined in base.css.scss
$font     : Arial, Helvetica, sans-serif;

/* Special Font / Bold Font */
@font-face {
    font-family: 'avenir_45_bookregular';
    src: url('avenir-book-webfont.eot');
    src: url('avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenir-book-webfont.woff') format('woff'),
         url('avenir-book-webfont.ttf') format('truetype'),
         url('avenir-book-webfont.svg#avenir_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  /* No special fonts from files */
   font-family: Arial, Helvetica, sans-serif; 
   font-weight: 300; font-size: 80%; color: $text; background: #F9F9F9; padding: 0; 
   margin: 0; line-height: 1.3em;
}

// sill
@import "sill/main.css.scss";

// UI gem css
@import "sgtools/rails/ui/base.css.scss";

/* new-imports */
@import "layout.css.scss";
@import "nav.css.scss";
@import "typography.css.scss";
@import "custom_report.css.scss";
@import "device.css.scss";
@import "groups.css.scss";
@import "events.css.scss";
@import "dashboards.css.scss";

// Import all css partials
@import "list.css.scss";
@import "ui.css.scss";
@import "forms.css.scss";
@import "tables.css.scss";
@import "date.css.scss";
@import "header.css.scss";

// Import submodules
@import "sgtools/rails/infoblox/dns/dns.css.scss";
@import "sgtools/rails/itsm/users.css.scss";
@import "sgtools/rails/ui/groups.css.scss";

// Dashboard - Philip's Stuff
@import "dashboard/base.css.scss";

// Broadcast messages - noti
@import "noti.css.scss";

// Ticket Landing
@import "ticket_landing.css.scss";
@import "ot-react-components.css"