/* Custome Report Form */
#form_toggle { cursor: pointer; }

#section #custom_report {
  padding: 1em; display: block;
  .button {
    @include corners(5px);
    background: $primary; color: #000; line-height: 1em; height: 1em; padding: 4px 11px;
    cursor: pointer;
  }
  form {
    /*@include shadow(#666,0,1.5em);
    @extend %corner-bl;
    background: rgb(0,0,0); background: #fff; padding: 1em; clip: rect(0px, 1000px, 1000px, -1.5em); */
    width: auto; color:#666; display: table; min-width: 25%;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 3em; 
    box-shadow: 0 0 3em; 
    padding: 2em; margin: 2em auto;
    background: #fff;
    ul {
      padding: 1em 0 1em 1em; margin: 0;
    }
    li {
      list-style: none; padding: 8px 0; margin: 0;
    }
    label {
      display: block;
      font-weight: 900;
      color: #666;
    }
    input[type="text"] {
      @include corners(4px);
      border:none; padding: 3px;
      color: #000;
    }
    .form_list {
      float: left; width:319px;
      input[type="radio"] {
        float: left; padding-right: 5px;
      }
      input[type="text"] {
        width: 290px;
      }
      select {
        @extend %clear;
        width: 290px;
      }
      input {
      background: #f0efea;
      }
      .radio_group label + label {
        padding-top: 5px;
      }
      .set1 select.device, .set1 select.group {display: none;}
    }
    .form_cal {
      float: right; min-width: 315px;
      @extend %date_drop_down;

      #start_date_div {
        // border: 1px solid #000;
      }
      #end_date_div {
        // border: 1px solid #000;
      }
      table.ui-datepicker-calendar {
        width: 100%;
      }
    }
    .form_submit {
      @extend %clear;
      text-align: right; padding: 4px 12px 12px 12px;
                outline: none;
      input {
        cursor: pointer;
        background: #999999;
        color: #fff;
        font-weight: 900;
        margin: 0;
        border: none;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        width: 100%;
        padding: 3px 3px 3px 6px;
      }
      > a {
        float:left; display: block; cursor: pointer; color: lighten($primary,30%);
        &:hover {
          color: #666; 
        }
      }
    }

    ul.scheduler {
      clear: both;
      @include corners(.5em);
      background: #fff; margin:1em; padding: 1em;
      input[type=checkbox] {
        margin-left: 0;
      }
      li.set4 + li {
        margin-left: 8px;
      }
      li.set4 {
        float: left; display: none;
      }
      li.set4.email {
        clear:both; float:none; margin:0;
        input {
                        width:260px;
                        background: #eeeeee;
        }
      }
    }

    /* Removing 'set2' and 'set3' from view temporarily 
    li.set2 *, li.set3 * {display: none;} */
  }
}

/* CSS for in-page version of the reports form */
#section .inline_form #custom_report {
  position: static; top: auto; right: auto; z-index: auto;
  .button {
    display: none;
  }
  form {
    @include shadow(#fff,0,0);
    @include corner(left,bottom,0);
    @include corner(right,bottom,0);
    position: static; right: auto; top: auto; color:#666; padding: 0; clip: auto; 
    width: auto; border:solid #aaa; border-width: 0 1px; padding: 1em 2em;
    input[type="text"] {
      background: #eee
    }
    .form_submit a {
      display: none;
    }
    label[for=req_subscription] {
      display: none;
    }
    ul.scheduler {
      @include corners(0);
      background: none; margin: 0; padding: 0;
      li.set4 { display: block; }
      li.set4 + li {
        margin-left: 8px;
      }
    }
    .form_cal {
      display: none;
    }
    ul.scheduler li.set4.email {
      float: left;
    }
    .form_list {
      padding-left: 0;
    }
    .form_submit {
      padding: 0;
      #wait_progress {
        background: #eee; 
        #please_wait {
          color: #666;
        }
        .progress-bar {
          background-color: #eee;
          height: 18px;
          padding: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -moz-box-shadow: 0 1px 5px #ddd inset, 0 1px 0 #fff;
          -webkit-box-shadow: 0 1px 5px #ddd inset, 0 1px 0 #fff;
          box-shadow: 0 1px 5px #ddd inset, 0 1px 0 #fff;           
        }
      }
    }
  }
}

/* Obscure */
.obscure {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999;
  display: none;
}
.obscure div {
  @include opacity(70);
  @include corners(4px);
  background: rgb(0,0,0); background: rgba(0,0,0,0.8); width: 100%; height: 100%;
}

#custom_report .obscure div {
  background: rgb(255,255,255);
}

/* Progress bar */
#wait_progress {
  display: none;
  @extend %clear;
  @include corners(.5em);
  background: #111; margin:1em 0 0 0; padding: 1em;   
}
#please_wait, .progress-bar {
  @include opacity(0);
}
#please_wait {text-align: left; color: #ccc; margin-left: 5px; margin-right: 6px;
  a {
    color: lighten($primary,30%);
    &:hover { color: #666;}
  }         
}
.progress-bar {
  background-color: #1a1a1a;
  height: 18px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444; 
}

.progress-bar span {
  display: inline-block;
  background-color:$primary;
  height: 100%; 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;    
}

.red span {
  background-color:#900;
}
.stripes span {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;     
  background-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
            color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
            to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);            
  
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;           
}

@-webkit-keyframes animate-stripes { 
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.test iframe {
  width: 500px; height: 500px; border:20px solid #000; position: absolute; top: 50%; left: 50%; margin-left: -260px; margin-top: -260px;
}

.form_top, .form_bottom {
  background: #A79374; padding:7px; border:solid 1px #aaa; height: 1em;
  a {color:#000;}
}
.form_bottom {padding-top: 4px;}
#ui-datepicker-div {display:none;}

/* Form validator */
.validity-tooltip {
    z-index:999999; cursor:pointer;  position: absolute; margin-top: -15px;
    /* css to make css3 arrow */
    width:auto;
    padding: 10px 10px 10px 5px;
    border-radius: 3px;
    color:#fff;
    background-color: #f26522;
    cursor: pointer;
    line-height: 1em;
    height: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.validity-tooltip:before {
    position:absolute;
    content : ' ';
    left:-31px;
    top:50%;
    height : 0;
    width: 0;
    z-index : -1;
    border: 16px transparent solid;
    border-right-color: #f26522;
    margin-top: -16px;
}

.validity-tooltip:hover {
    background-color: #b2420d;/*hovercolor*/
}
.validity-tooltip:hover:before {
    border-right-color: #b2420d;
}
  /* end left arrow css */

