/* Special Cases */
/* UI Theme Overrides */

tr.odd {
	background-color: lighten($primary,45%);
}
tr.odd td.sorting_1 {
	background-color: lighten($primary,40%);
}
tr.even td.sorting_1 {
	background-color: lighten($primary,50%);
}
.dataTables_length {
	padding-top: 3px;
}
#custom_report .ui-widget-header {
	background: $primary;
}
.dataTables_wrapper .ui-toolbar {
	padding: 7px;
}
.dataTable {
	border:solid lighten($secondary,25%); border-width: 0 1px;
}
.ui-corner-tl {
	@include corner(left,top,.6em);
}
 .ui-corner-tr {
	@include corner(right,top,.6em);
}
.ui-corner-bl {
	@include corner(left,bottom,.6em);
}
 .ui-corner-br {
	@include corner(right,bottom,.6em);
}
.dataTables_filter label input {
	@include corners(7px);
}


.ui-datepicker-prev, .ui-datepicker-next { 
	margin: 3px; width: 0; height: 0; border: 6px solid transparent; border-right-color: rgb(255,255,255); border-right-color: rgba(255,255,255,0.8); 
	cursor: pointer;
	span {
		display: none;
	}
}
.ui-datepicker-next { 
	border-left-color: rgb(255,255,255); border-right-color: transparent; 
}
.ui-datepicker-prev {
	border-right-color: rgb(255,255,255); border-left-color: transparent;
}

%date_drop_down {
	> * { 
		display: table-cell; padding: 1em; color: #fff;
		& + * {
			padding: 1em 1em 1em 0;
		}
		input { width: 96%; margin-bottom: 1em;}
		input[type="submit"] {
			width: 100%; margin-top: 1em; margin-bottom: 0;
		}
	}
	li {
		position: static; padding: 0.3em; color: #fff;
		& + li { border-top: solid 1px rgba(255,255,255,0.1);}
		> span { display: none; top: 1.5em;}
		&.active { height: 16px;
			> span {
				left: 100%; width: 0; height: 0; border: 0.5em solid rgba(255,255,255,0);
				overflow: hidden; position: relative; border-left-color: rgb(255,255,255); border-left-color: rgba(255,255,255,0.7);
				display: block;
			}
		}
	}
	.hasDatepicker {
		font-size: 10px; line-height: normal; font-family: $font;
		.ui-datepicker-prev {float: left;}
		.ui-datepicker-next {float: right;}
		.ui-datepicker-title {text-align: center;}
		td a {
			@include corners(2px);
			display: block; font-size: 9px; text-align: right; padding: 2px;
		}
		td a.ui-state-active {
			background: $primary; color: #fff; border: darken($primary,20%)
		}
		.ui-widget-content {
			border-color: #fff;
		}
		@include corners(5px); background: #fff; padding: 3px;
		.ui-datepicker-header {
			@include corners(4px); background-color: $primary;
		}
	}
	.ui-datepicker-header {
		padding: 2px; min-height: 1.8em; line-height: 1.8em;
		a {
			cursor: pointer;
		}
	}
	table.ui-datepicker-calendar {
		@extend %reset;
		td, th {
			@extend %reset; display: table-cell;
		}
		th {
			color: #000; font-weight: 900; text-align: center;
		}
		tr.odd, tr.even {
			@include opacity(75);
			a {display: block; height: 100%;}
		}
		tr.odd:hover, tr.even:hover {
			@include opacity(99);
			a {
				color: darken($primary,15%);
			}
			td {
				background: lighten($primary,37%);
			}
		}
		td { padding: 1px;
			a {
				border-radius: 2px 2px 2px 2px; display: block; font-size: 9px; padding: 3px; 
				text-align: right; background: #E6E6E6; border: none;
				&.ui-state-active { background-color: $primary; }
			}
			&.ui-state-disabled span {
				border-radius: 2px 2px 2px 2px; display: block; font-size: 9px; padding: 3px; 
				text-align: right; background: #E6E6E6; border: none;
				@include opacity(50);
			}
		}
	}
}

