div#header > div.tools > h2.tool-name {
  padding-left: 64px !important;
  div {
    position: relative;   
    &:before {
      content: ' '; display: block; width: 50px; height: 50px;
      background-position: 50% 50%; background-image: url('devices.png');
      position: absolute; top: -10px; left: -55px;
    }
  }
}

div#header > div.tools h2.position {
  border-right: none;
  a {
  display: inline-block; padding: 9px; margin: 0; height: 8px; width: 8px;
  float: none; border: none; position: relative; cursor: pointer;
  &:before {
    display: inline-block; bottom: 5px; width: 8px; 
    height: 8px; @include corners(50%); background: #000; padding: 0;
    content: ' '; position: absolute;
  }
  &.active:before { background-color: #fff;}
  }
  & + * { border-left: none;}
}

h2#device_detail_select, h2#bucket_select {
  > div {
    @extend %down-arrow;
    b { width: 110px; display: block; }
    b.reports { width: 148px; }
    ul {
      @extend %reset; min-width: 232px; 
      display: none; position: absolute; top: 45px; background: darken($primary,15%);
      @extend %corner-b; @include shadow(rgba(0,0,0,0.5),0,1em); color: rgb(255,255,255); color: rgba(255,255,255,0.2);
      font-size: 0.8em; left: -18px; font-family: $font; text-transform: capitalize;
      li {
        b {
          display: block; width: auto;
          @extend %reset; padding: 0.6em 1em; border: solid rgba(0,0,0,0.8);
          border-top-color: rgb(255,255,255); border-top-color: rgba(255,255,255,0.2); color: rgba(255,255,255,0.3); border-width:  1px 0;
          &:hover { color: rgb(255,255,255); color: rgba(255,255,255,0.8); background-color: #000;}
        }
        &:first-child b { border-top: 0;}
        &:last-child b { border-bottom: 0; @extend %corner-b; }
        span {
          padding: 0.8em 1em 0 0; color: lighten($primary,25%);
          @include text-shadow(0, 0, rgba(0,0,0,0), 0)
        }
      }
    }
  }
  &:hover > div ul { display: block;}
}

div#header div.tools h2#bucket_select {
  font-size: 1.8em;
  > div {
    // padding-bottom: 4px;
    ul { 
    top: 43px; font-weight: normal; left: -18px;
    max-height: 175x; overflow: auto;
    li b { font-size: 0.8em; font-weight: normal; }
    }
  }
  ::-webkit-scrollbar {
    background-color: rgba(150,150,150,0.2);
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
      background: rgba(200,200,200,0.4);
      -webkit-border-radius: 1ex;
  }
}

#event_counts { 
  @include corners(5px); background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.3);
  @include inset(rgba(255,255,255,0.4),-1px,1px); overflow: hidden;
  ul {
    @extend %reset; 
    margin: 3px; display: table; height: 50px; 
    li { 
      @extend %reset; display: table-cell;
      width: 25%; vertical-align: bottom; padding: 4px;
      background: none;
      > div {
        height: 2px; margin-top: 1px; background-image: none;
      }
      > p {
        @include corners(3px);
        background: #000; text-align: center; margin: 1px 0;
        padding: 1px 10px; color: #fff; font-size: 10px;
      }
    }
  }
}

#thresholds {
  table {
    table-layout: fixed; 
    margin-bottom: 2em;
    th, td {
      + th, + td {
        text-align: center;
      }
      &:first-child {
        width: 33%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    tr.threshold_overridden td {
      background: #FEFFCE !important;
    }
  }
}

div#aside > h3#firewall_logs, h3#show_command, h3#change_command{
  @include corners(3px);
  text-align: center;
  background-color:#696969;
  color:#fff;
  font-size:12px;
  padding-top:10px;
  margin: 5px 7px;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 0;
}

tr a.cmd-modal-link-disabled {
  width: 16px !important;
  height: 16px !important;
  float: left;
  display: block;
  pointer-events: none;
  background-image: url("commandrunner-sprite.png") !important;
  background-size: 35px 90px !important;
  background-position: 0 -74px !important;
  position: relative; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    tr a.cmd-modal-link {
      background-image: url("commandrunner-sprite@2x.png") !important; } }

tr a.cmd-modal-link-disabled:hover { 
  cursor:pointer !important;
 }

tr a.cmd-modal-link {
  width: 16px !important;
  height: 16px !important;
  float: left;
  display: block;
  background-image: url("commandrunner-sprite.png") !important;
  background-size: 35px 90px !important;
  background-position: 0 -74px !important;
  position: relative; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    tr a.cmd-modal-link {
      background-image: url("commandrunner-sprite@2x.png") !important; } }
  tr a.cmd-modal-link:hover {
    background-position: 0 -57px !important; }
    tr a.cmd-modal-link:hover:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 6px 0;
      border-color: transparent #4a4a4a transparent transparent;
      position: absolute;
      top: 2px;
      right: -16px;
      z-index: 2; }
    tr a.cmd-modal-link:hover:after {
      content: 'Run a Command';
      color: #fff;
      font-size: 12px;
      background-color: #4a4a4a;
      border-radius: 4px;
      position: absolute;
      top: -7px;
      right: -122px;
      padding: 7px 7px 7px 9px; }

