body.single-column {
	div#page > div#aside {
		display: none;
	}
	div#page > div#section {
		width: auto; margin-left: 0; left: 0; // padding: 1.5em 1em 1em 1em;
		&.unified_header {
			top: 116px !important;
		}
	}
	div#page > div#header > div.tools {
		&.unified_tools {
			top: 50px !important;
			position: absolute;
		}
	}
}

input[type="submit"] { cursor: pointer; }

pre {
	font-family: $font;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}