

#floatingCirclesG {
position:relative; width:128px; height:128px; 
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-o-transform:scale(0.6);
	-ms-transform:scale(0.6);
}

.f_circleG {
position:absolute; background-color:#FFFFFF; height:23px; width:23px; border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-o-animation-name:f_fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
}

@mixin delay($d) {
	-webkit-animation-delay:$d;
	-moz-animation-delay:$d;
	-o-animation-delay:$d;
	-ms-animation-delay:$d;
}


#frotateG_01{ left:0; top:52px; @include delay(0.39s);}
#frotateG_02{ left:15px; top:15px; @include delay(0.52s);}
#frotateG_03{ left:52px; top:0; @include delay(0.65s);}
#frotateG_04{ right:15px; top:15px; @include delay(0.78s);}
#frotateG_05{ right:0; top:52px; @include delay(0.91s);}
#frotateG_06{ right:15px; bottom:15px; @include delay(1.04s);}
#frotateG_07{ left:52px; bottom:0; @include delay(1.17s);}
#frotateG_08{ left:15px; bottom:15px; @include delay(1.3s);}

%fade {
	0%{background-color:#000000}
	100%{background-color:#FFFFFF}
}

@-webkit-keyframes f_fadeG { @extend %fade; }
@-moz-keyframes f_fadeG{ @extend %fade; }
@-o-keyframes f_fadeG{ @extend %fade; }
@-ms-keyframes f_fadeG{ @extend %fade; }

/* markup
<div id="floatingCirclesG">
	<div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div>
</div>
markup */