// horizontal navigation ul lists
div#nav {
	ul, li {@extend %reset;	}
	> ul {
		> li {
			> a, > div > a, 
			&:hover > a.active, &:hover > div > a.active {
				display: block; padding: 0.9em; // font-family: $hfont;
				color: lighten($primary,60%); // just for default fallback;
				text-align: center;
				@extend %glass;
				@include chisel($primary);
			}
			&:hover > a, &:hover > div > a, a.inactive {
				color:#fff; background-color:darken($primary,25%); border-color:transparent;
			}
		}
	}
}

// adjusting for top black area
div#nav.black {
	> ul {
		// left: 153px; 
		left: 46px;
		> li {
			background: none;
			> a, > div > a {
				font-size: 18px; text-transform: lowercase;
				color: #bfbfc2; 
			}
			&:hover > a, &:hover > div > a {
				background-color: #000; color: #fff;
			}
		}
		li.viewpoint {
			> a, > div a {
				background: url('viewpoint_nav.png');
			}
		}
	}
}

div#aside dl { 
	background: #3e3e3e;
	dt {
		border-top: 1px solid rgba(255,255,255,0.7);
	}
	dd {
		@extend .reset;
		border-bottom: 1px solid rgba(0,0,0,0.8);
		font-size: 1.2em; color:#fff; padding: 0 0.6em 0.25em; line-height: 1em;
		@include opacity(82); white-space: nowrap; overflow: hidden;
		&.multi {
			font-size: 1em; line-height: 1.3em; white-space: pre-wrap; overflow: normal;
			padding-right: 40px; font-family: $font;
			> span { width: 100%; }
		}
		span {
			position: relative;
		}
		p {
			margin: 0; padding-top: 3px; text-align: right;
			> span { float: left; }
			&:first-child { padding: 0; }
		}

	}
	dt, dd {
		&.status-up { background-color:  #00a60c; @include opacity(80);}
		&.status-down { background-color:  #ff2400; @include opacity(80);}
	}
}

div#aside .side_nav {
	background: #3e3e3e; 
}

body.core aside dl { 
	dt {
		border-top: 1px solid rgba(255,255,255,0.3);
	}
	dd {
		border-bottom: 1px solid rgba(0,0,0,0.8);
	}
}