// Typography
h1 {
	@extend %reset; font-family: $hfont;
	color:#000; font-size: 3em; line-height: 1.2em; 
	padding-bottom: 0.5em; letter-spacing: -1px; font-weight: 400;
}
h2 { @extend h1; font-size: 2.2em; font-weight: 400; }
h3 { @extend h1; font-size: 1.5em; }

// For nested elements inside h tags
h1, h2, h3 {
	a, span {
		font-weight: 400; letter-spacing: normal; 
		float: right; font-size: $m; padding: 0.5em;
	}
}

// Paragraphs
p {}


// Text styles
strong 	{ color: #000; }
b 		{ @extend strong; }
small 	{ font-size: .8em; @include opacity(80); }

// Links
a {
	color: lighten($primary,17%); outline: none; border: none; 
	text-decoration: none !important;
	&:hover {
		color: darken($primary, 15%);
	}
	img {
		border: none; outline: none;
	}
	&.inactive {
		cursor: default; @include opacity(40); color: #666;
		&:hover { color: #666;}
	}
}

// Docs
#doc {
	padding: 2em;
	h2 { padding-top: 1em; }
}