<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
<p>
  <b>Display Name:</b>
  <%= @role.display_name %>
</p>
<p>
  <b>Description:</b>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_sungard_role_path(@role) %> |
<%= link_to 'Back', sungard_roles_path %>