<%= form_for [:sungard, @api_key] do |f| %>
  <% if @api_key.errors.any? %>
    <div class="error_messages">
      <div class="errors">
        <ul>
          <% for message in @api_key.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>