<% unless @user.new_record? %>
	<% unless @user == sign_in_user %>
	  <label>Status</label>
	  <%= f.check_box "active", {},"true", "false" %> Active
	<%else%>
	  <%= f.hidden_field :active %>
	<%end%> 
<%end%> 
