<table class="grid delay_apply_datatable"  style="display:none;">
  <thead>
    <tr>
      <th id="filter_record_status" class="filter_me filter_type" rel="select" title="Status"></th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th class="no_sort no_search"></th>
      <th class="no_sort no_search"></th>
      <th class="no_sort no_search"></th>
      <% if (current_user.is_viewpoint_admin?) and (current_user.is_sungard?) %>
        <th class="no_sort no_search"></th>
      <% end %>
      <th class="no_sort no_search"></th>
    </tr>
  </thead>
  <tbody class="user">
    <% @users.each do |user| %>
      <tr class="user_state_<%=user.active %>">
       <td><% if user.active == true %>Active<% else %>Inactive<% end %></td>
       <td><%= link_to user.last_name, edit_admin_user_path(:id => user.id,:company_id => user.company_guid)  %></td>
       <td><%= user.first_name %></td>
       <td><%= user.email %></td>
       
       <td>
        <% unless user.is_sungard? %>
            <% if user.confirmation_token.blank? %>
                <%= form_tag services_password_resets_path, :html =>{:class => 'reset_password'}, :method => 'post' do %>
                  <%= hidden_field_tag :email, user.email %>
                  <%= submit_button('reset password') %>
                <% end %>
            <% else %>
              <span style="font-size: 0.9em">password change process has been initiated</span>
          <% end %>
        <%end%>
       </td>
       <td>
        <% if ( !user.confirmation_token.blank?  and not (user.is_sungard?) ) %>
          <%= form_for user, :html =>{:class => 'resend_confirmation'}, :url => resend_confirmation_admin_user_path(user) do |f| %>
            <%= hidden_field_tag :email, user.email %>
            <%= hidden_field_tag :company_id, user.company_guid %>
            <%= submit_button('resend confirmation') %>
          <% end %>
        <% end %>
       </td>
       <td>
         <%= form_for user, :html =>{:class => 'toggle_unlock'}, :url => toggle_unlock_admin_user_path(user) do |f| %>
          <%= hidden_field_tag :company_id, user.company_guid %>
          <%= submit_button 'unlock' %>
        <% end %>
       </td>
       <% if (current_user.is_viewpoint_admin?) and (current_user.is_sungard?) %>
         <td><%= link_to 'Details', admin_user_path(user) %></td>
       <% end %>
       <td class="delete" style="width: 1%;"><%= button_to '&times;'.html_safe, admin_user_path(user), :class =>"text-only", :method => :delete, form: { :onsubmit => "return confirm('Are you sure you want to delete this user?')"}, :disabled => user == current_user %></td>
    <% end %>
  </tbody>
</table>