<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>

<div class="dialog_form">
  <div id="admin_form">
		<%= form_for @user, :url => update_email_admin_user_path(@user), :method => :put do |f| %>
			  <table>
				  <% if @user.errors.any? %>
				    <tr>
				      <td>
						<div class="error_messages">
							<div class="errors">
								<ul>
								<% for message in @user.errors.full_messages %>
									<li><%= message %></li>
								<% end %>
								</ul>
							</div>
						</div>
				  <% else %>
				    <% if flash[:notice] %>
				        <div class="error_messages"><p><%= flash[:notice] %></p></div>
				    <% end %>
				      </td>
				    </tr>
				  <% end %>
				    <tr>
				      <!-- this is a required field -->
				      <td>
				        <%= f.label "Add your new email address" %>
				        <%= f.email_field :pending_email %>
				      </td>
				     </tr>
				    <tr>
				      <td>
				        <label></label>
				          <%= f.submit "change email" %>
				      </td>
				    </tr>
			  </table>
		<% end %>
   </div>
</div>
