<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application','application/admin/users_management'], function(app,user_mng){
    app.module('users').start({"guid": '<%= @company_id %>'});

      user_mng.convert_non_portal_form(<%= raw @sys_user.to_json %>, "<%= @company_id.to_s %>");

    });
  })

<% end %>

<% content_for :body do %>
  <body id='contact_user_edit'>
<% end %>

<%= render :partial => "sgtools/rails/itsm/contact_users/form" %>
