<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>
<% content_for :body do %>
  <body id='deploy_user_edit'>
<% end %>
<% content_for :h2_class, "no_right_border" %>
<div class="dialog_form">
<%= render 'form' %>
</div>
<div id='loading'></div>