<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>

<% content_for :body do %>
  <body id='deploy_user_index'>
<% end %>
<% content_for :h2_class, "no_right_border" %>
<% if flash[:notice] %>    
  <div class="error_messages"><p><%= flash[:notice] %></p></div>
  <style>
    .dataTables_wrapper { position: relative !important; }  
  </style>
<% end %>
<div id='fade_wrapper'>
  <%= render "index_for_sso_#{APP_CONFIG["open_id_version"].downcase}" %>
</div>
<div id='loading'></div>
