<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>
<% content_for :h2_class, "no_right_border" %>
<div class="dialog_form" rel="<%=@user.email%>">
  <% if flash[:notice] %>
    <div class="error_messages">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <div id="admin_form">
    <%-# data from viewpoint -%>
    <p>
      <b>vp is_sungard</b>
      <%= @user.is_sungard? %>
    </p>
    <p>
      <b>vp user guid</b>
      <%= @user.guid %>
    </p>
    <p>
      <b>vp first_name</b>
      <%= @user.first_name %>
    </p>
    <p>
      <b>vp last_name</b>
      <%= @user.last_name %>
    </p>
    <p>
      <b>vp company_guid</b>
      <%= @user.company_guid %>   
    </p>
    <p>
      <b>vp email</b>
      <%= @user.email %>
    </p>
    <p>
      <b>vp phone_number</b>
      <%= @user.phone_number %>
    </p>
    <p>
      <b>vp role</b>
      <%= @user.roles.flatten %>
    </p>
    <p>
      <b>vp time_zone</b>
      <%= @user.time_zone %>
    </p>
    <p>
      <b>vp created_at</b> 
      <%= @user.created_at %>
    </p>
    <p>
      <b>vp updated_at</b>
      <%= @user.updated_at %>
    </p>
    <p>
      <b>vp last_login</b>
      <%= @user.last_login_at %>
    </p>
    <%-# data from sso -%>
    <% if APP_CONFIG["open_id_version"] == 'V2'%>
      <div class="user">
         <p>
            <b>sso user firstname</b>
            <span class="active"><%= @sso_user.first_name %></span>
         </p>
         <p>
            <b>sso user lastname</b>
            <span class="active"><%= @sso_user.last_name %></span>
         </p>
         <p>
            <b>sso user email</b>
            <span class="active"><%= @sso_user.email %></span>
         </p>
         <p>
            <b>sso user timezone</b>
            <span class="active"><%= @sso_user.timezone %></span>
         </p>
         <p>
            <b>sso user guid</b>
            <span class="active"><%= @sso_user.guid %></span>
         </p>
         <p>
            <b>sso user company_guid</b>
            <span class="active"><%= @sso_user.company_guid %></span>
         </p>
         <p>
            <b>sso user roles</b>
            <span class="active"><%= @sso_user.roles %></span>
         </p>
         <p>
            <b>sso user applications</b>
            <span class="active"><%= @sso_user.applications %></span>
         </p>
         <p>
            <b>sso user groups</b>
            <span class="active"><%= @sso_user.guid %></span>
         </p>
      </div>
    <%end%>
    <!--     <div class="user">
      <p>
        <b>sso user active</b>
        <span class="active"></span>
      </p>
      <p>
        <b>sso user admin</b>
        <span class="admin"></span>
      </p>
      <p>
        <b>sso user company guid</b>
        <span class="company_guid"></span>
      </p>
      <p>
        <b>sso user company_name</b>
        <span class="company_name"></span>
      </p>
      <p>
        <b>sso user confirmation_token</b>
        <span class="confirmation_token"></span>
      </p>
      <p>
        <b>sso user created_at</b>
        <span class="created_at"></span>
      </p>
      <p>
        <b>sso user deleted_at</b>
        <span class="deleted_at"></span>
      </p>
      <p>
        <b>sso user email</b>
        <span class="email"></span>
      </p>
      <p>
        <b>sso user failed_attempts</b>
        <span class="failed_attempts"></span>
      </p>
      <p>
        <b>sso user guid</b>
        <span class="guid"></span>
      </p>
      <p>
        <b>sso user_id</b>
        <span class="id"></span>
      </p>
      <p>
        <b>sso locked_at</b>
        <span class="locked_at"></span>
      </p>
      <p>
        <b>sso public_persona_id</b>
        <span class="public_persona_id"></span>
      </p>
      <p>
        <b>sso remember_token_expires_at</b>
        <span class="remember_token_expires_at"></span>
      </p>
      <p>
        <b>sso reset_password_token</b>
        <span class="reset_password_token"></span>
      </p>
      <p>
        <b>sso unlock_token</b>
        <span class="unlock_token"></span>
      </p>
      <p>
        <b>sso updated_at</b>
        <span class="updated_at"></span>
      </p>
      <p>
        <b>sso created_at</b>
        <span class="created_at"></span>
      </p>
      </div>
      <div class="persona">
      <p>
        <b>sso persona company_guid</b>
        <span class="company_guid"></span>
      </p>
      <p>
        <b>sso persona company_name</b>
        <span class="company_name"></span>
      </p>
      <p>
        <b>sso persona created_at</b>
        <span class="created_at"></span>
      </p>
      <p>
        <b>sso persona deletable</b>
        <span class="deletable"></span>
      </p>
      <p>
        <b>sso persona email</b>
        <span class="email"></span>
      </p>
      <p>
        <b>sso persona firstname</b>
        <span class="firstname"></span>
      </p>
      <p>
        <b>sso persona fullname</b>
        <span class="fullname"></span>
      </p>
      <p>
        <b>sso persona id</b>
        <span class="id"></span>
      </p>
      <p>
        <b>sso persona language</b>
        <span class="language"></span>
      </p>
      <p>
        <b>sso persona lastname</b>
        <span class="lastname"></span>
      </p>
      <p>
        <b>sso persona nickname</b>
        <span class="nickname"></span>
      </p>
      <p>
        <b>sso persona timezone</b>
        <span class="timezone"></span>
      </p>
      <p>
        <b>sso persona title</b>
        <span class="title"></span>
      </p>
      <p>
        <b>sso persona updated_at</b>
        <span class="updated_at"></span>
      </p>
      <p>
        <b>sso persona user_id</b>
        <span class="user_id"></span>
      </p>
      <p>
        <b>sso persona web_default</b>
        <span class="web_default"></span>
      </p>
      </div> -->
  </div>
</div>