<h2 class="<%= yield (:h2_class) %>"><% if @toolname =~ /^:.*/ %>
	admin<%= @toolname %>
<% else %>
	<%= @toolname %>
<% end %></h2>
<% unless action_name == "edit" || action_name == "update" %>
	<h2 id="user_types" class="no_left_border">
	  <a class="active" title="These are users deployed to Portal with login credentials and ability to perform self-service tasks including ticketing, viewing assets, and reports.">portal users</a>
	  <%= link_to 'non-portal users', contact_users_path(:company_id => user_company_guid), 
	  :title => "These users are unable to login to Portal and only used as a contact for notifications, authorizations, and ticketing." %>  
	</h2>
<% end %>
<% if @toolname == 'portal users' %>
  <%= link_to "add user", new_admin_user_path(:company_id => user_company_guid) ,:class => 'add button'%>
<% end %>
<a href="javascript:history.back()" class="button">back</a>
