<% if @notification_tools %>

<h2>Notifications</h2>

<% else %>

<h2 class="button" id="bucket_select">
  <div class="expand"><b class="here reports">browse reports</b>
    <ul>
    </ul>
  </div>
</h2>
<h2></h2>
<%= link_to "custom report", new_req_path ,:class => 'button add'%>

<% end %>