<!DOCTYPE html>
<html>
  <head>
    <title>viewpoint Management Console - Sungard Availability Services</title>
    <!-- Omniture tracking code 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://www.sungardas.com/_layouts/15/SungardNAScripts/s_code.js"></script>
    <script type="text/javascript" language="javascript" src="https://www.sungardas.com/_layouts/15/SungardNAScripts/sungard_pagecode.js"></script>
    -->
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= requirejs_include_tag nil %> 
    <%= csrf_meta_tag %>
    <%= analytics_init if Rails.env.production? || Rails.env.staging? %>

    <script>
    <% if APP_CONFIG["can_show_portal"] %>
         require(['ot-react-components','babel','es6','react','api','react-dom','mock-data', 'es6!header']);
    <% end %>
      <% if flash[:error] %>
        require(['application'],function(app) {
          <% flash[:error].each do |error| %>
            app.vent.trigger('app:notification',{
              message: "<%=error%>",
              level: 'error'
            });
          <% end %>
        });
      <% end %>
      <% if content_for?(:requirejs) %>
        <%= yield(:requirejs) %>
      <% end %>
      
    </script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

<% if @body_class %>
  <body class= '<%= @body_class %>'>
<% else %>
  <body>
<% end %>

    <div id="page" class="<%= @branding %>">
      <div id="header">
        <% if APP_CONFIG["can_show_portal"] %>
          <div id="u_menu"></div>
        <% else %>
          <%= render :partial => "shared/header" %>
        <% end %>
         <div class="tools unified_tools" id="tools-bar" style="visibility:hidden;">
          <% if @masquerade and sign_in_user.is_sungard?%>
            <h2 class="masquerade animate_company_userId">
              <span>impersonating</span>
              <label><%= @masquerade_user.company_name rescue '- none -'%></label>
              <label><%= @masquerade_user.email rescue '- none -' %></label></h2>
            <% if @company_masquerade %>
              <h2 class="masquerade switched">
                <span>for&nbsp;company</span>
                <%= truncate @masq_company.name, :length => 20, separator: ' ' %>
              </h2>
            <% end %>
          <% elsif @company_masquerade and @masq_company%>
            <h2 class="masquerade switched">
              <span>now&nbsp;working&nbsp;in</span>
              <%= truncate @masq_company.name, :length => 20, separator: ' ' %>
            </h2>
          <% end %>          
          <div id="subtools" class="tools">
             <%= render :partial => "tools" rescue render :partial => '/shared/tools' %> 
          </div>  
        </div>

      </div>

      <div id="aside">
        <%= render :partial => "sidebar" rescue render :partial => '/shared/sidebar' %>
      </div>

      <div id="section" class="unified_header">
      <%= yield %>
      </div>
      <div id="footer">
        <% if APP_CONFIG["can_show_portal"] %>
          <div id="u_footer" class="otrc"></div>
        <% else %>
          <%= render :partial => "footer" rescue render :partial => '/shared/footer' %>
        <% end %>
      </div>
      <div id="notifications">
      </div>
    </div>

<% if flash[:error] %>
    <div id="flash_error">
      <div>
        <h3>The following problems occurred while loading this page:</h3>
        <% flash[:error].each do |error| %>
        <p> <%= error %> </p>
<% end %>
      </div>
    </div>
<% end %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/DIEAsfMqbEZRxly7uJ9P8w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      // IE9 issue with animations.
      var masquerade = 
        document.getElementsByClassName('animate_company_userId');
      if(masquerade && masquerade.length > 0) {
        var label = masquerade[0].getElementsByTagName('label');
        var styles = getComputedStyle(masquerade[0]);
        if((styles.animation !== undefined || 
            styles.webkitAnimation !== undefined)) {
          masquerade[0].style.width = Math.max(label[0].offsetWidth, label[1].offsetWidth) + 'px'; 
        } else{
          masquerade[0].removeChild(label[0]);
          masquerade[0].className = masquerade[0].className.replace( /(?:^|\s)animate_company_userId(?!\S)/g , '' );
        }
      }
    })();
    window.C = {};
    window.C.branding = "<%= @branding %>"
    window.C.impersonate = "<%= current_user.is_sungard? ? "user" : (session[:company_has_childs] && current_user.role?('switch_company') ? "company" : nil) %>"
  </script>
  </body>
</html>
