<!DOCTYPE html>
<html>
  <head>
    <title>viewpoint Management Console - Sungard Availability Services</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= analytics_init if Rails.env.production? || Rails.env.staging? %>
  </head>

<% if @body_class %>
  <body class='single-column'>
<% else %>
  <body>
<% end %>

    <div id="section">
    <%= yield %>
    </div>

<% if flash[:error] %>
    <div id="flash_error">
      <div>
        <h3>The following problems occurred while loading this page:</h3>
        <% flash[:error].each do |error| %>
        <p> <%= error %> </p>
<% end %>
      </div>
    </div>
<% end %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/DIEAsfMqbEZRxly7uJ9P8w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  </body>
</html>
