<!DOCTYPE html>
<html>
  <head>
    <title>viewpoint Management Console - Sungard Availability Services</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= include_gon %>
    <%= requirejs_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= analytics_init if Rails.env.production? || Rails.env.staging? %>

    <script>
    <% if content_for?(:requirejs) %>
      <%= yield(:requirejs) %>
    <% else %>
      require(['viewpoint/page'], function(vp_page){
        vp_page.init()
      })
    <% end %>
    </script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

<% if @body_class %>
  <body class= '<%= @body_class %>'>
<% else %>
  <body>
<% end %>

    <div id="page" class="<%= @branding %>">
      <div id="header">
        <div class="tools">
          <% if @masquerade == "true" %>
            <h2 class="masquerade"><span>impersonating</span><%= @masquerade_user.email rescue '- none -' %></h2>
          <% end %>
          <%= render :partial => "tools" rescue nil %> 
        </div>

      </div>

      <div id="aside">
        <%= render :partial => "sidebar" rescue nil %>
      </div>

      <div id="section">
      <%= yield %>
      </div>

      <div id="footer">
      <%= render :partial => "footer" rescue nil %>
      </div>
    </div>
  </body>
</html>
